
<div class="container-fluid mt--7 pb-8 pt-50 pt-md-8">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <ul class="nav nav-pills flex-column flex-md-row justify-content-center">
            <li class="nav-item">
              <span class="d-none d-md-block form-group">
                <h2>{{ 'Schedule ladies baithak' }}</h2>
              </span>
            </li>
          </ul>
          
          <div>
            <div>
              {{displayMonth}}
            </div>
            <div>
              <input type="button" (click)="setCurrentMonth()" value="today" />
              <input type="button" (click)="decreaseMonth()" value="-" />
              <input type="button" (click)="increaseMonth()" value="+" />
            </div>
          </div>

          <table class='calendar-table' *ngIf="calendar">
            <thead>
              <tr>
                <th>Loaction</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of calendar | chunk: 7; let i = index">
                <td>
                  <div *ngFor="let location of defaultLocations | filter:searchText;">
                    {{ location.locationName }}
                  </div>
                </td>
                <td class="calendar-day" [ngClass]="{'past-date': c.isPastDate, 'today': c.isToday}" *ngFor="let c of row; let j = index">
                  <div class="calendar-day-header" [ngClass]="{'blue-date': c.isToday}"><strong>{{c.date.getDate()}}</strong> <strong *ngIf="c.isToday || (i==0 && j==0) || (c.date.getDate() == 1)"> {{monthNames[c.date.getMonth()]}}</strong></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
