<div class="container-fluid mt--7 pb-8 pt-5 pt-md-8">
  <div class="py-7 py-lg-8"></div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <form role="form" [formGroup]="baithakForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="baithak-type">{{
                  "BaithakType" | translate
                }}</label>
                <select
                  formControlName="baithakType"
                  class="form-control"
                  id="baithak-type"
                  name="baithak-type"
                  [(ngModel)]="baithak.baithakType"
                >
                  <option value="" disabled>Select Baithak</option>
                  <option value="CHILD">CHILD</option>
                  <option value="MAN">MAN</option>
                  <option value="WOMEN">WOMEN</option>
                  <option value="ANY">ANY</option>
                </select>
              </div>

              <div class="form-group">
                <label for="dayOfWeek">{{ "DayOfWeek" | translate }}</label>
                <select
                  formControlName="dayOfWeek"
                  class="form-control"
                  id="dayOfWeek"
                  name="dayOfWeek"
                  [(ngModel)]="baithak.dayOfWeek"
                >
                  <option value="" disabled>Select Day</option>
                  <option value="SUNDAY">SUNDAY</option>
                  <option value="MONDAY">MONDAY</option>
                  <option value="TUESDAY">TUESDAY</option>
                  <option value="WEDNESDAY">WEDNESDAY</option>
                  <option value="THURSDAY">THURSDAY</option>
                  <option value="FRIDAY">FRIDAY</option>
                  <option value="SATURDAY">SATURDAY</option>
                </select>
              </div>

              <div class="form-group">
                <label for="from-time">{{ "StartTime" | translate }}</label>
                <input
                  [ngxTimepicker]="picker"
                  formControlName="fromTime"
                  class="form-control"
                  id="from-time"
                  name="from-time"
                  [(ngModel)]="baithak.fromTime"
                />
                <ngx-material-timepicker #picker></ngx-material-timepicker>
              </div>

              <div class="form-group">
                <label for="to-time">{{ "EndTime" | translate }}</label>
                <input
                  [ngxTimepicker]="picker1"
                  formControlName="toTime"
                  class="form-control"
                  id="to-time"
                  name="to-time"
                  [(ngModel)]="baithak.toTime"
                />
                <ngx-material-timepicker #picker1></ngx-material-timepicker>
              </div>

              <div class="form-group">
                <label for="status">{{ "Status" | translate }}</label>
                <select
                  formControlName="status"
                  class="form-control"
                  id="status"
                  name="status"
                  [(ngModel)]="baithak.status"
                >
                  <option value="" disabled>Select Status</option>
                  <option value="1">{{ "Active" | translate }}</option>
                  <option value="0">{{ "Inactive" | translate }}</option>
                </select>
              </div>

              <div>
                <br />
                <button type="submit" class="btn btn-success mx-2">
                  {{ "save" | translate }}
                </button>
                <button
                  type="button"
                  class="btn btn-primary mx-2"
                  (click)="Clear()"
                >
                  {{ "Clear" | translate }}
                </button>
                <button
                  type="button"
                  class="btn btn-danger mx-2"
                  (click)="CancelChanges()"
                >
                  {{ "Back" | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
