@import "~bootstrap/dist/css/bootstrap.min.css";

/* Component styles */
button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust this value for spacing between buttons */
  }
  
  edit-button,
  delete-button {
    width: 100%;
  }
  .custom-dropdown {
    display: flex;
    justify-content: flex-end; /* Align to the right */
    align-items: right; /* Vertically center the label and select */
  }
  /* .justify-content-right {
    padding-left: 950px;
    
  } */
  .custom-header-height {
    height: 300px; /* Adjust the card height as needed */ 
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    overflow: hidden; /* To hide overflow content if needed */
     /* margin-top: 5px; */ /* Adjust the margin-top value as needed */
}