<div class=" bg-gradient-danger py-7 py-lg-8 custom-header-height" style="margin-bottom: -300px;">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7 pb-8 pt-50 pt-md-8">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          
          <ul class="nav nav-pills flex-column flex-md-row justify-content-md-end">
            <li class="nav-item ml-auto">
              <span class="d-none d-md-block form-group">
                <h2>{{ 'Available Location' | translate }}</h2>
              </span>
            </li>
            <li class="nav-item ml-auto">
              <!-- <span class="d-none d-md-block form-group align-items-right">
                <label>{{ 'Choose Language' | translate }}</label>
                <select name="" class="form-control ml-auto" #selectedLang (change)="switchLang(selectedLang.value)">
                  <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
                    {{ language }}
                  </option>
                </select>
              </span> -->
            </li>
            <!-- For screens less than 600px -->
            <!-- Hide this for medium and larger scren -->
            <li class="nav-item d-md-none"> 
              <span class="form-group">
                <h3>{{ 'Location' | translate }}</h3>
              </span>
            </li>
            <li class="nav-item d-md-none"> <!-- Hide this item on medium and larger screen -->
              <!-- <span class="form-group align-items-right">
                <label>{{ 'Choose Language' | translate }}</label>
                <select name="" class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
                  <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
                    {{ language }}
                  </option>
                </select>
              </span> -->
            </li>
          </ul>
          
          

            <!-- <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>    
              </div>
              <input class="form-control col-md-4" placeholder="{{ 'Search City' | translate }}" [(ngModel)]="searchText" type="text" (focus)="focus = true" (blur)="focus = false">
              <input class="form-control col-md-4" placeholder="{{ 'Search Area' | translate }}" [(ngModel)]="searchText1" type="text" (focus)="focus = true" (blur)="focus = false">
              <input class="form-control col-md-4" placeholder="{{ 'Search Anything' | translate }}" [(ngModel)]="searchText2" type="text" (focus)="focus = true" (blur)="focus = false">
              </div> -->
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span> 
             
                  <div class="">
                    <input  type="text" [(ngModel)]="query" placeholder="Enter your search query">
                    <button class="btn btn-primary ml-5" (click)="search()">Search</button>
                  </div>
             </div>
             </div>
            
            <div class="form-group"><br>
            <ul class="nav nav-pills justify-content">
              <li class="nav-item mr-2 mr-md-0">
                <select class="btn btn-success" (change)="statusLocation($event.target.value)">
                  <option  disabled >Select Location</option>
                  <option value="all" selected>All</option>
                  <option value="1">Active</option>
                  <option value="0">InActive</option>
                </select>
              </li><br>
              <li class="nav-item mr-2 mr-md-0">
                  <span class="d-none d-md-block" class="form-group">
                    <!-- <button class="btn btn-success" (click)="onAddNewUser($event)">नवीन जोडा</button> -->
                    <button class="btn btn-success" (click)="onOpen()" > {{'Add New'|translate}}</button>
                  </span>
              </li>
             
              <li class="nav-item mr-2 mr-md-0">
                  <span class="d-none d-md-block" class="form-group">
                    <div  *ngFor="let location of defaultLocations; let i = index">
                      
                      <button *ngIf="selectedRow === i"  class="btn btn-success" (click)="updateLocation(location.locationId)">{{'Update'|translate}}</button>
                      <!-- <button *ngIf="location.isDeleting" class="btn btn-danger" (click)="deleteLocation(location.locationId)">{{'delete'|translate}}</button> -->
                    </div>
                  </span>
              </li>
              <li class="nav-item mr-2 mr-md-0">
                <span class="d-none d-md-block" class="form-group">              
                    <!-- <div style="text-align: end;">Record Count:</div> -->
                    <!-- <button  class="btn btn-success" > Record Count: {{ (defaultLocations | filter: searchText:searchText1:searchText2).length }}</button> -->
                    <button  class="btn btn-success" > Record Count: {{totalRecords}}</button>
                  </span>
            </li>
            </ul>
          </div>
        </div>
        <!-- <div style="max-height: 500px; overflow-y: auto;">
          <table class="table table-bordered">
            <thead class="thead-light"> -->
        <div class="table-responsive "> 
          <table  class="table align-items-center table-flush ">
            <thead class="thead-light">
              <tr style="width: 10%;">
                <th scope="col">{{'action'|translate}} </th>
                <th scope="col">{{'location Id'|translate}}</th>
                <th scope="col">{{'location name'|translate}}</th>
                <th scope="col">{{'address1'|translate}} </th>
                <th scope="col">{{'address2'|translate}} </th>
                <th scope="col">{{'division'|translate}} </th>
                <th scope="col">{{'city'|translate}}</th>
                <th scope="col">{{'state'|translate}} </th>
                <th scope="col">{{'Country'|translate}} </th>
                <th scope="col">{{'Area'|translate}} </th>
                <th scope="col">{{'pincode'|translate}} </th>
               
                <!-- <th scope="col">{{'status'|translate}}</th> -->
              </tr>
            </thead>
              <!-- <div style="max-height: 500px; overflow-y: auto;overflow-x: auto;">
                <table class="table table-bordered"> -->
                    <tbody>
              <!-- <tr *ngFor="let location of defaultLocations; trackBy: trackLocationByIndex"> -->
                <!-- <tr style="width: 10%;" *ngFor="let location of pagedLocations |filter:searchText |filter:searchText1 |filter:searchText2; let i = index ">
                   -->
                   <tr style="width: 10%;" *ngFor="let location of pagedLocations | filter:searchText:'':'' | filter:'' :searchText1:'' | filter:'' :'' :searchText2; let i = index ">
                <td>
                  <input type="radio" name="operation" (click)="toggleButtons('edit', location)" value="edit"  (change)="selectedRow = i">
                  <!-- <input type="radio" name="operation" (click)="toggleButtons('delete', location)" value="delete"> Delete -->
                </td>
                <td>{{ location.locationId }}</td>
                <td>{{ location.locationName }}</td>
                <td>{{ location.add1 }}</td>
                <td>{{ location.add2 }}</td>
                <td>{{ location.division?.divisionName  }}</td>
                <td>{{ location.city?.cityName }}</td>
                <td>{{ location.state?.stateName }}</td>
                <td>{{ location.country?.countryName }}</td>
                <td>{{ location.area?.areaName }}</td>
                <td>{{ location.pincode }}</td>
                
                <!-- <td>{{ location.status }}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div> 
      <small><mat-paginator class="justify-content-md-end"
        [hasNextPage]="hasNextPage"
        [length]="totalRecords"
        [pageIndex]="currentPage"
        [pageSize]="pageSize"
        (page)="onPageChange($event)"
      ></mat-paginator></small>
    </div>
  </div>
</div>