<div class="container-fluid mt--7 pb-8 pt-50 pt-md-8">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <ul
            class="nav nav-pills flex-column flex-md-row justify-content-center"
          >
            <li class="nav-item">
              <span class="d-none d-md-block form-group">
                <h2>{{ "Update child baithak" | translate }}</h2>
              </span>
            </li>
          </ul>

          <div>
            <div>{{ displayMonth }} {{ displayYear }}</div>

            <div>
              <button
                type="button"
                class="btn btn-info"
                (click)="setCurrentMonth()"
                value="today"
              >
                Current month
              </button>

              <button
                type="button"
                class="btn btn-info"
                (click)="decreaseMonth()"
                value="-"
              >
                <i class="fas fa-chevron-left"></i>
              </button>

              <button
                type="button"
                class="btn btn-info"
                (click)="increaseMonth()"
              >
                <i class="fas fa-chevron-right"></i>
              </button>

              <button
                type="button"
                class="btn btn-info"
                (click)="goBack()"
                value="back"
              >
              Go to list of schedules
              </button>
            </div>
          </div>

          <br />

          <form [formGroup]="schedularFormUpdate" (ngSubmit)="updateSchedule()">
            <div class="table-responsive">
              <table class="calendar-table" *ngIf="calendar" border="2px solid">
                <thead>
                  <tr>
                    <th >Sr.no</th>

                    <th>Locations</th>

                    <th *ngFor="let meeting of meetings">
                      Sunday
                      <div>
                        {{ meeting.date | date }}
                      </div>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let location of defaultLocations; let i = index">
                   <td>{{ i + 1 }}</td>
                                   
                    <td class="text-uppercase" style="text-align: center">
                      {{ location.locationName }}
                    </td>

                    <td
                      class="calendar-day"
                      [ngClass]="{
                        'past-date': c.isPastDate,

                        today: c.isToday
                      }"
                      *ngFor="let c of meetings; let j = index"
                    >
                      <app-update-dynamic-form
                        [scheduleArray]="scheduleArray"
                        [scheduleMemeberArray]="scheduleMemeberArray"
                        (valueChanged)="saveChanges($event)"
                        [baithakId]="baithakId"
                        [locationId]="location.locationId"
                        [hajeriMembers]="defaultMembers"
                        [vachanMembers]="defaultMembers"
                        [date]="c.date | date : 'mediumDate'"
                        [scheduleDto]="scheduleDto"
                      >
                      </app-update-dynamic-form>
                    </td>
                  </tr>
                </tbody>
                <div
                  class="d-flex flex flex flex-row justify-content-around ml-auto fixed-button"
                >
                  <button type="submit" class="btn btn-danger">Save and continue</button>

                  <button
                    type="button"
                    class="btn btn-primary p-1"
                    (click)="GoBack(baithakId)"
                  >
                    Go Back
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary p-1"
                    (click)="generateSchedule()"
                  >
                    GENERATE REPORT
                  </button>
                </div>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
