<div class="container-fluid mt--7 pb-8 pt-5 pt-md-8">
  <div class="py-7 py-lg-8">
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="custom-width ">
      <div class="card bg-secondary shadow border-0 w-500 ">
        <div class="card-body px-lg-10 py-lg-5">
          
          <form role="form" [formGroup]="memberform" (ngSubmit)="onSubmit()" class="needs-validation">
            <h2 class="text-center">{{'Add new member records!' | translate }}</h2><br>

            <!-- Head -->
            <div>
              <h2 class="form-section-header text-center">Personal details</h2>
            </div>

             <!-- initial -->
             <div class="row">
              <div class="col-md-3">
            <div class="form-group">
             <label for="initial">{{ 'Initial' | translate }}</label><br>
             <div class="input-group input-group-alternative mb-3">
               <div class="input-group-prepend"></div>
               <select
                 formControlName="initial"
                 class="form-control"
                 type="text"
                 id="initial"
                 name="initial"
                 [(ngModel)]="Member.initial" 
                 required
                 [ngClass]="{
                   'is-invalid': (submitted && MemberFormControl.initial.errors?.required)
                 }"
               >
                 <option value="" disabled>Select initial</option>
                 <option value="Mr.">Mr.</option>
                 <option value="Ms.">Ms.</option>
               </select>
               <div class="invalid-feedback">
                 {{ 'Initial is required.' | translate }}
               </div>
             </div>
           </div>
            </div>

            
                 <!-- firstName -->
               
                 <div class="col-md-3">
            <div class="form-group">
              <label for="firstName">{{ 'First Name' | translate }}</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="firstName"
                    type="text"
                    class="form-control"
                   id="firstName"
                  name="firstName"
                  [(ngModel)]="Member.firstName"
                  [ngClass]="{
                   'is-invalid': (submitted && MemberFormControl.firstName.errors?.required)
                  }"
                  maxlength="14" 
                    />
                    <div class="invalid-feedback">
                      {{ 'First Name  is required.' | translate }}
                    </div>
              </div>
             </div>
             </div>
             <!-- middle name -->
             <div class="col-md-3">
             <div class="form-group">
              <label for="middleName">{{ 'Middle Name' | translate }}</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="middleName"
                    type="text"
                    class="form-control"
                   id="middleName"
                  name="middleName"
                  [(ngModel)]="Member.middleName"
                  [ngClass]="{
                   'is-invalid': (submitted && MemberFormControl.middleName.errors?.required)
                  }"
                  maxlength="14" 
                    />
                    <div class="invalid-feedback">
                      {{ 'Middle Name 1 is required.' | translate }}
                    </div>
              </div>
             </div>
                  </div>
  
             <!-- Last Name -->
             <div class="col-md-3">
             <div class="form-group">
              <label for="lastName">{{ 'Last Name' | translate }}</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="lastName"
                    type="text"
                    class="form-control"
                   id="lastName"
                  name="lastName"
                  [(ngModel)]="Member.lastName"
                  [ngClass]="{
                   'is-invalid': (submitted && MemberFormControl.lastName.errors?.required)
                  }"
                  maxlength="14" 
                    />
                    <div class="invalid-feedback">
                      {{ 'Last Name is required.' | translate }}
                    </div>
              </div>
             </div>
             </div>
             </div>

              

              <!-- education -->
              <div class="row">
              <div class="col-md-3">
            <div class="form-group">
              <label for="education">{{ 'Education' | translate }}</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="education"
                    type="text"
                    class="form-control"
                   id="education"
                  name="education"
                  [(ngModel)]="Member.education"
                  [ngClass]="{
                   'is-invalid': (submitted && MemberFormControl.education.errors?.required)
                  }"
                  maxlength="20" 
                    />
                    <div class="invalid-feedback">
                      {{ 'Education is required.' | translate }}
                    </div>
              </div>
              </div>
             </div>

              <!-- occupation -->
              <div class="col-md-3">
              <div class="form-group">
                <label for="occupation">{{ 'Occupation' | translate }}</label>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend"></div>
                  <input
                      formControlName="occupation"
                      type="text"
                      class="form-control"
                     id="occupation"
                    name="occupation"
                    [(ngModel)]="Member.occupation"
                    [ngClass]="{
                     'is-invalid': (submitted && MemberFormControl.occupation.errors?.required)
                    }"
                    maxlength="14" 
                      />
                      <div class="invalid-feedback">
                        {{ 'occupationis required.' | translate }}
                      </div>
                </div>
                </div>
               </div>

               <!-- dob -->
               <div class="col-md-3">
            <div class="form-group">
              <label for="dob">{{ 'Bitrh Date' | translate }}</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="dob"
                    type="date"
                    class="form-control"
                   id="dob"
                  name="dob"
                  [(ngModel)]="Member.dob"
                  [ngClass]="{
                   'is-invalid': (submitted && MemberFormControl.dob.errors?.required)
                  }"
                    />
                    <div class="invalid-feedback">
                      {{ 'Birth date is required.' | translate }}
                    </div>
              </div>
             </div>
               </div>

               <!-- gender -->
               <div class="col-md-3">
             <div class="form-group">
              <label for="gender">{{ 'Gender' | translate }}</label><br>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend"></div>
                <select
                  formControlName="gender"
                  class="form-control"
                  id="gender"
                  name="gender"
                  [(ngModel)]="Member.gender"
                  required
                  [ngClass]="{
                    'is-invalid': (submitted && MemberFormControl.gender.errors?.required)
                  }"
                >
                  <option value="" disabled>Select gender</option>
                  <option value="Pune">Male</option>
                  <option value="Mumbai">Female</option>
                  <option value="kolhapur">Other</option>
                </select>
                <div class="invalid-feedback">
                  {{ 'gender is required.' | translate }}
                </div>
              </div>
             </div>
             </div>
              <!-- roles-->
             <div class="col-md-3">
              <div class="form-group">
                <label for="roles">{{ 'Role' | translate }}</label>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend"></div>
                  <select
                      formControlName="roles"
                      type="text"
                      class="form-control"
                     id="roles"
                    name="roles"
                    [(ngModel)]="Member.roles"
                    [ngClass]="{
                     'is-invalid': (submitted && MemberFormControl.roles.errors?.required)
                    }"
                    maxlength="14" 
                      >
                  <option value="" disabled>Select Role</option>
                  <option value="User">User</option>
                  <option value="Admin">Admin</option>
                  <option value="Super Admin">Super Admin</option>
                  
                </select>
                      <div class="invalid-feedback">
                        {{ 'roles is required.' | translate }}
                      </div>
                </div>
               </div>
               </div>

              <!-- aadhar number-->
              <div class="col-md-3">
                <div class="form-group">
                 <label for="addharNumber">{{ 'Addhar Number' | translate }}</label>
                 <div class="input-group input-group-alternative mb-3">
                   <div class="input-group-prepend"></div>
                   <input
                       formControlName="addharNumber"
                       type="text"
                       class="form-control"
                      id="addharNumber"
                     name="addharNumber"
                     [(ngModel)]="Member.addharNumber"
                     [ngClass]="{
                       'is-invalid': (submitted && (MemberFormControl.addharNumber.errors?.required || MemberFormControl.addharNumber.errors?.minlength))
     
                     }"
                     (input)="validateAddharNumber($event)"
                     minlength="12"
                       />
                       <div class="invalid-feedback">
                         <div *ngIf="MemberFormControl.addharNumber.errors?.required">{{ 'Addhar Number is required.' | translate }}</div>
                         <div *ngIf="MemberFormControl.addharNumber.errors?.minlength">{{ 'Addhar Number must be at least 12 characters long.' | translate }}</div>
                       </div>
                 </div>
                </div>
                </div>
             <!-- panNo -->
             <div class="col-md-3">
                <div class="form-group">
                 <label for="panNo">{{ 'Pan Number' | translate }}</label>
                 <div class="input-group input-group-alternative mb-3">
                   <div class="input-group-prepend"></div>
                   <input
                       formControlName="panNo"
                       type="text"
                       class="form-control"
                      id="panNo"
                     name="panNo"
                     [(ngModel)]="Member.panNo"
                     [ngClass]="{
                       'is-invalid': (submitted && (MemberFormControl.panNo.errors?.required || MemberFormControl.panNo.errors?.minlength))
     
                     }"
                     (input)="validatePanNumber($event)"
                     minlength="10"
                       />
                       <div class="invalid-feedback">
                         <div *ngIf="MemberFormControl.panNo.errors?.required">{{ 'panNumber is required.' | translate }}</div>
                         <div *ngIf="MemberFormControl.panNo.errors?.minlength">{{ 'panNumber must be 10 characters long.' | translate }}</div>
                       </div>
                 </div>  
                 </div>
               </div>

             <!-- photoBase64  -->
             <div class="col-md-3">
             <div class="form-group">
              <label for="photoBase64">{{ 'Photo Base64' | translate }}</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="photoBase64"
                    type="text"
                    class="form-control"
                   id="photoBase64"
                  name="photoBase64"
                  [(ngModel)]="Member.photoBase64"
                  [ngClass]="{
                   'is-invalid': (submitted && MemberFormControl.photoBase64.errors?.required)
                  }"
                  maxlength="14" 
                    />
                    <div class="invalid-feedback">
                      {{ 'Photo Base64 is required.' | translate }}
                    </div>
              </div>
             </div>
             </div>
             </div>


             <!-- Header -->
             <div>
              <h2 class="form-section-header text-center">Address details</h2>
            </div>
            
              <!-- add1 -->
              <div class="row">
                <div class="col-md-3">
            <div class="form-group">
              <label for="add1">{{ 'Address-1' | translate }}</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="add1"
                    type="text"
                    class="form-control"
                   id="add1"
                  name="add1"
                  [(ngModel)]="Member.add1"
                  [ngClass]="{
                   'is-invalid': (submitted && MemberFormControl.add1.errors?.required)
                  }"
                  maxlength="20" 
                    />
                    <div class="invalid-feedback">
                      {{ 'Address1  is required.' | translate }}
                    </div>
              </div>
             </div>
            </div>
            <!-- add2 -->
            <div class="col-md-3">
            <div class="form-group">
              <label for="add2">{{ 'Address-2' | translate }}</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="add2"
                    type="text"
                    class="form-control"
                   id="add2"
                  name="add2"
                  [(ngModel)]="Member.add2"
                  [ngClass]="{
                   'is-invalid': (submitted && MemberFormControl.add2.errors?.required)
                  }"
                  maxlength="20" 
                    />
                    <div class="invalid-feedback">
                      {{ 'Address2  is required.' | translate }}
                    </div>
              </div>
             </div>
            </div>
              <!-- add3 -->
              <div class="col-md-3">
            <div class="form-group">
              <label for="add3">{{ 'Address-3' | translate }}</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="add3"
                    type="text"
                    class="form-control"
                   id="add3"
                  name="add3"
                  [(ngModel)]="Member.add3"
                  
                  maxlength="20" 
                    />
                    
              </div>
             </div>
              </div>
              
              <!-- add4 -->
              <div class="col-md-3">
            <div class="form-group">
              <label for="add1">{{ 'Address-4' | translate }}</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="add4"
                    type="text"
                    class="form-control"
                   id="add4"
                  name="add4"
                  [(ngModel)]="Member.add4"
                  
                  maxlength="20" 
                    />
                   
              </div>
             </div>
              </div>
              </div>
              <!-- city -->
        <div class="row">
          <div class="col" style="width: 20%;">
         <div class="form-group">
          <label>{{ 'City' | translate }}</label><br>
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend"></div>
            <select
              formControlName="city"
              class="form-control"
              id="city"
              name="city"
              [(ngModel)]="Member.city"
              required
              [ngClass]="{
                'is-invalid': (submitted && MemberFormControl.city.errors?.required)
              }"
            >
              <option value="" disabled>Select City</option>
              <option value="Pune">Pune</option>
              <option value="Mumbai">Mumbai</option>
              <option value="kolhapur">Kolhapur</option>
              <option value="Nagpur">Nagpur</option>
            </select>
            <div class="invalid-feedback">
              {{ 'City is required.' | translate }}
            </div>
          </div>
         </div>
         </div>
           <!-- division -->
           <div class="col" style="width: 20%;">
           <div class="form-group">
            <label>{{ 'Division' | translate }}</label><br>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <select
                formControlName="division"
                class="form-control"
                id="division"
                name="division"
                [(ngModel)]="Member.division" 
                required
                [ngClass]="{
                  'is-invalid': (submitted && MemberFormControl.division.errors?.required)
                }"
              >
                <option value="" disabled>Select Division</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
              </select>
              <div class="invalid-feedback">
                {{ 'Division is required.' | translate }}
              </div>
            </div>
          </div>
           </div>
         
<!-- state -->
        <div class="col" style="width: 20%;">
         <div class="form-group">
          <label>{{ 'State' | translate }}</label>
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend"></div>
            <select
              formControlName="state"
              class="form-control"
              id="state"
              name="state"
              [(ngModel)]="Member.state"
              required
              [ngClass]="{
                'is-invalid': (submitted && MemberFormControl.state.errors?.required)
              }"
            >
       
              <option value="" disabled>{{ 'Select state' | translate }}</option>
              <option value="Andhra Pradesh">{{ 'Andhra Pradesh' | translate }}</option>
              <option value="Arunachal Pradesh">{{ 'Arunachal Pradesh' | translate }}</option>
              <option value="Assam">{{ 'Assam' | translate }}</option>
              <option value="Bihar">{{ 'Bihar' | translate }}</option>
              <option value="Chhattisgarh">{{ 'Chhattisgarh' | translate }}</option>
              <option value="Goa">{{ 'Goa' | translate }}</option>
              <option value="Gujarat">{{ 'Gujarat' | translate }}</option>
              <option value="Haryana">{{ 'Haryana' | translate }}</option>
              <option value="Himachal Pradesh">{{ 'Himachal Pradesh' | translate }}</option>
              <option value="Jharkhand">{{ 'Jharkhand' | translate }}</option>
              <option value="Karnataka">{{ 'Karnataka' | translate }}</option>
              <option value="Kerala">{{ 'Kerala' | translate }}</option>
              <option value="Madhya Pradesh">{{ 'Madhya Pradesh' | translate }}</option>
              <option value="Maharashtra">{{ 'Maharashtra' | translate }}</option>
              <option value="Manipur">{{ 'Manipur' | translate }}</option>
              <option value="Meghalaya">{{ 'Meghalaya' | translate }}</option>
              <option value="Mizoram">{{ 'Mizoram' | translate }}</option>
              <option value="Nagaland">{{ 'Nagaland' | translate }}</option>
              <option value="Odisha">{{ 'Odisha' | translate }}</option>
              <option value="Punjab">{{ 'Punjab' | translate }}</option>
              <option value="Rajasthan">{{ 'Rajasthan' | translate }}</option>
              <option value="Sikkim">{{ 'Sikkim' | translate }}</option>
              <option value="Tamil Nadu">{{ 'Tamil Nadu' | translate }}</option>
              <option value="Telangana">{{ 'Telangana' | translate }}</option>
              <option value="Tripura">{{ 'Tripura' | translate }}</option>
              <option value="Uttar Pradesh">{{ 'Uttar Pradesh' | translate }}</option>
              <option value="Uttarakhand">{{ 'Uttarakhand' | translate }}</option>
              <option value="West Bengal">{{ 'West Bengal' | translate }}</option>
                   
            </select>
            <div class="invalid-feedback">
              {{ 'State is required.' | translate }}
            </div>
          </div>
         </div>
        </div>
         <!-- country -->
         <div class="col" style="width: 20%;">
         <div class="form-group">
          <label>{{ 'Country' | translate }}</label><br>
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend"></div>
            <select
              formControlName="country"
              class="form-control"
              id="country"
              name="country"
              [(ngModel)]="Member.country"
              required
              [ngClass]="{
                'is-invalid': (submitted && MemberFormControl.country.errors?.required)
              }"
            >
              <option value="" disabled>Select Country</option>
              <option value="IN">IN</option>
            </select>
            <div class="invalid-feedback">
              {{ 'Country is required.' | translate }}
            </div>
          </div>
         </div>
         </div>
          <!-- pincode -->
          <div class="col" style="width: 20%;">
          <div class="form-group">
            <label for="Pincode">{{ 'Pincode' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="pincode"
                    type="text"
                    class="form-control"
                    id="pincode"
                    name="pincode"
                    [(ngModel)]="Member.pincode"
                    [ngClass]="{
                        'is-invalid': (submitted && (MemberFormControl.pincode.errors?.required || MemberFormControl.pincode.errors?.minlength))
                    }"
                    (input)="validatePincode($event)"
                    minlength="6"
                />
                <div class="invalid-feedback">
                  <div *ngIf="MemberFormControl.pincode.errors?.required">{{ 'Pincode is required.' | translate }}</div>
                  <div *ngIf="MemberFormControl.pincode.errors?.minlength">{{ 'Pincode must be at least 6 characters long.' | translate }}</div>
                </div>
            </div>
          </div>
        </div>
        </div>


        <!-- latitude -->
        <div class="row">
        <div class="col-md-4">
        <div class="form-group">
          <label for="latitude">{{ 'Latitude' | translate }}</label>
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend"></div>
            <input
                formControlName="latitude"
                type="text"
                class="form-control"
               id="latitude"
              name="latitude"
              [(ngModel)]="Member.latitude"
              [ngClass]="{
               'is-invalid': (submitted && MemberFormControl.latitude.errors?.required)
              }"
              maxlength="20" 
                />
                <div class="invalid-feedback">
                  {{ 'latitudeis required.' | translate }}
                </div>
          </div>
         </div>
         </div>
          <!-- longitude -->
          <div class="col-md-4">
        <div class="form-group">
          <label for="longitude">{{ 'Longitude' | translate }}</label>
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend"></div>
            <input
                formControlName="longitude"
                type="text"
                class="form-control"
               id="longitude"
              name="longitude"
              [(ngModel)]="Member.longitude"
              [ngClass]="{
               'is-invalid': (submitted && MemberFormControl.longitude.errors?.required)
              }"
              maxlength="20" 
                />
                <div class="invalid-feedback">
                  {{ 'longitude is required.' | translate }}
                </div>
          </div>
         </div>
        </div>
        <!-- googleMapLink -->
        <div class="col-md-4">
        <div class="form-group">
          <label for="googleMapLink">{{ 'Google Map Link' | translate }}</label>
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend"></div>
            <input
                formControlName="googleMapLink"
                type="text"
                class="form-control"
               id="googleMapLink"
              name="googleMapLink"
              [(ngModel)]="Member.googleMapLink"
              [ngClass]="{
               'is-invalid': (submitted && MemberFormControl.googleMapLink.errors?.required)
              }"
              maxlength="25" 
                />
                <div class="invalid-feedback">
                  {{ 'googleMapLink is required.' | translate }}
                </div>
          </div>
         </div>
         </div>
        </div>

             <!-- Header -->
        <div>
          <h2 class="form-section-header text-center">Languages knows</h2>
        </div>

         
             
              <!-- Header -->
             <div>
              <h2 class="form-section-header text-center"> </h2>
            </div>

             <!-- Button -->
             <div class="text-center"><br>
              <button type="submit" class="btn btn-success mx-3" >{{'Save'|translate}}</button>
              <button type="button" class="btn btn-primary mx-3" (click)="Clear()">{{'Clear'|translate}} </button>
              <button type="button" class="btn btn-danger mx-3" (click)="CancelChanges()">{{'Back'|translate}} </button>
             </div>
        
            </form>
        </div>
      </div>
      </div>
    </div>
  </div>
  </div>
  