<div class=" bg-gradient-danger py-7 py-lg-8 custom-header-height" style="margin-bottom: -300px;">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7 pb-8 pt-50 pt-md-8">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            
            <ul class="nav nav-pills flex-column flex-md-row justify-content-md-end">
              <li class="nav-item ml-auto">
                <span class="d-none d-md-block form-group">
                  <h2>{{ 'Available Areas' | translate }}</h2>
                </span>
              </li>
              <li class="nav-item ml-auto">
                <!-- <span class="d-none d-md-block form-group align-items-right">
                  <label>{{ 'Choose Language' | translate }}</label>
                  <select name="" class="form-control ml-auto" #selectedLang (change)="switchLang(selectedLang.value)">
                    <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
                      {{ language }}
                    </option>
                  </select>
                </span> -->
              </li>
              <!-- For screens less than 600px -->
              <!-- Hide this for medium and larger scren -->
              <li class="nav-item d-md-none"> 
                <span class="form-group">
                  <h3>{{ 'location' | translate }}</h3>
                </span>
              </li>
              <li class="nav-item d-md-none"> <!-- Hide this item on medium and larger screen -->
                <!-- <span class="form-group align-items-right">
                  <label>{{ 'Choose Language' | translate }}</label>
                  <select name="" class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
                    <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
                      {{ language }}
                    </option>
                  </select>
                </span> -->
              </li>
            </ul>
            
            
  
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>    
                </div>
                <input class="form-control col-md-4" placeholder="{{ 'Search city' | translate }}" [(ngModel)]="searchText" type="text" (focus)="focus = true"
                (blur)="focus = false">
                <input class="form-control col-md-4" placeholder="{{ 'Search area' | translate }}" [(ngModel)]="searchText1" type="text" (focus)="focus = true"
                (blur)="focus = false">
                <input class="form-control col-md-4" placeholder="{{ 'Search location name' | translate }}" [(ngModel)]="searchText2" type="text" (focus)="focus = true"
                (blur)="focus = false">
                </div>
              
              <div class="form-group"><br>
              <ul class="nav nav-pills justify-content">
                <li class="nav-item mr-2 mr-md-0">
                  <select class="btn btn-success" (change)="statusAreas($event.target.value)">
                    <option  disabled >Select Location</option>
                    <option value="all" >All</option>
                    <option value="1" selected >Active</option>
                    <option value="0">InActive</option>
                  </select>
                </li><br>
                <li class="nav-item mr-2 mr-md-0">
                    <span class="d-none d-md-block" class="form-group">
                      <!-- <button class="btn btn-success" (click)="onAddNewUser($event)">नवीन जोडा</button> -->
                      <button class="btn btn-success" (click)="onOpen()" > {{'Add New'|translate}}</button>
                    </span>
                </li>
               
                <li class="nav-item mr-2 mr-md-0">
                    <span class="d-none d-md-block" class="form-group">
                      <div  *ngFor="let area of defaultAreas; let i = index">
                        
                        <button *ngIf="selectedRow === i"  class="btn btn-success" (click)="updateArea(area.areaId)">{{'Update'|translate}}</button>
                        <!-- <button *ngIf="location.isDeleting" class="btn btn-danger" (click)="deleteLocation(location.locationId)">{{'delete'|translate}}</button> -->
                      </div>
                    </span>
                </li>
              </ul>
            </div>
          </div>
          <!-- <div style="max-height: 500px; overflow-y: auto;">
            <table class="table table-bordered">
              <thead class="thead-light"> -->
          <div class="table-responsive " >
            <table  class="table align-items-center table-flush ">
              <thead class="thead-light">
                <tr style="width: 10%;">
                  <th scope="col">{{'Action'|translate}} </th>
                  <th scope="col">{{'AreaId'|translate}}</th>
                  <th scope="col">{{'AreaName'|translate}}</th>
                  <th scope="col">{{'contactInitial'|translate}} </th>
                  <th scope="col">{{'contactName'|translate}} </th>
                  <th scope="col">{{'contactPhone1'|translate}} </th>
                  <th scope="col">{{'contactEmail'|translate}}</th>
                  <th scope="col">{{'state'|translate}} </th>
                  <th scope="col">{{'city'|translate}} </th>
                  <th scope="col">{{'division'|translate}} </th>
                  <th scope="col">{{'country'|translate}} </th>
                 
                  <!-- <th scope="col">{{'status'|translate}}</th> -->
                </tr>
              </thead>
                <!-- <div style="max-height: 500px; overflow-y: auto;overflow-x: auto;">
                  <table class="table table-bordered"> -->
                      <tbody>
                <!-- <tr *ngFor="let location of defaultLocations; trackBy: trackLocationByIndex"> -->
                  <tr style="width: 10%;" *ngFor="let area of pagedAreas |filter:searchText |filter:searchText1 |filter:searchText2; let i = index ">
  
                  <td>
                    <input type="radio" name="operation" (click)="toggleButtons('edit', area)" value="edit"  (change)="selectedRow = i">
                    <!-- <input type="radio" name="operation" (click)="toggleButtons('delete', location)" value="delete"> Delete -->
                  </td>
                  <td>{{area.areaId }}</td>
                  <td>{{area.areaName }}</td>
                  <td>{{area.contactInitial }}</td>
                  <td>{{area.contactName }}</td>
                  <td>{{area.contactPhone1 }}</td>
                  <td>{{area.contactEmail }}</td>
                  <td>{{area.state }}</td>
                  <td>{{area.city }}</td>
                  <td>{{area.division  }}</td>
                  <td>{{area.country }}</td>
                 
                  <!-- <td>{{area.status }}</td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div> 
        <small><mat-paginator class="justify-content-md-end"
          [length]="defaultAreas.length"
          [pageIndex]="currentPage"
          [pageSizeOptions]="[10]"
          (page)="onPageChange($event)"
        ></mat-paginator></small>
      </div>
    </div>
  </div>