<div
  class="bg-gradient-danger py-7 py-lg-8 custom-header-height"
  style="margin-bottom: -300px"
>
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center"></div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7 pb-8 pt-50 pt-md-8">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <ul
            class="nav nav-pills flex-column flex-md-row justify-content-md-end"
          >
            <li class="nav-item ml-auto">
              <span class="d-none d-md-block form-group">
                <h2>{{ "Available User" | translate }}</h2>
              </span>
            </li>
            <li class="nav-item ml-auto">
              <!-- <span class="d-none d-md-block form-group align-items-right">
                    <label>{{ 'Choose Language' | translate }}</label>
                    <select name="" class="form-control ml-auto" #selectedLang (change)="switchLang(selectedLang.value)">
                      <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
                        {{ language }}
                      </option>
                    </select>
                  </span> -->
            </li>

            <!-- For screens less than 600px -->
            <li class="nav-item d-md-none">
              <!-- Hide this for medium and larger scren -->
              <span class="form-group">
                <h3>{{ "Available User" | translate }}</h3>
              </span>
            </li>
          </ul>
          <!-- search -->
          <!-- <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>    
                  </div>
                  <input class="form-control" placeholder="{{ 'Search' | translate }}" [(ngModel)]="searchText" type="text" (focus)="focus = true"
                  (blur)="focus = false">
                </div > -->
          <!-- <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fas fa-search"></i
              ></span>
            </div>
            <input
              class="form-control col-md-4"
              placeholder="{{ 'Search Name' | translate }}"
              [(ngModel)]="searchText"
              type="text"
              (focus)="focus = true"
              (blur)="focus = false"
            />
            <input
              class="form-control col-md-4"
              placeholder="{{ 'Search Area' | translate }}"
              [(ngModel)]="searchText1"
              type="text"
              (focus)="focus = true"
              (blur)="focus = false"
            />
            <input
              class="form-control col-md-4"
              placeholder="{{ 'Search Anything' | translate }}"
              [(ngModel)]="searchText2"
              type="text"
              (focus)="focus = true"
              (blur)="focus = false"
            />
          </div> -->
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span> 
         
              <div>
                <input  type="text" [(ngModel)]="query" (keydown.enter)="search()" placeholder="Enter your search query">
                <button class="btn btn-primary btn-sm ml-4" (click)="search()">Search</button>
              </div>
         </div>
         </div>

          <!-- add new button -->
          <div class="form-group">
            <br />
            <ul class="nav nav-pills justify-content">
              <li class="nav-item mr-2 mr-md-0">
                <select
                  class="btn btn-success"
                  (change)="statusUsers($event.target.value)"
                >
                  <option disabled>Select User</option>
                  <option value="all" selected>All</option>
                  <option value="1" >Active</option>
                  <option value="0">InActive</option>
                </select>
              </li>
              <li class="nav-item mr-2 mr-md-0">
                <span class="d-none d-md-block" class="form-group">
                  <button class="btn btn-success" (click)="onOpen()">
                    {{ "Add New" | translate }}
                  </button>
                </span>
              </li>

              <!-- update button -->
              <li class="nav-item mr-2 mr-md-0">
                <span class="d-none d-md-block" class="form-group">
                  <div *ngFor="let user of defaultUsers; let i = index">
                    <button
                      *ngIf="selectedRow === i"
                      class="btn btn-success"
                      (click)="updateUser(user.userId)"
                    >
                      {{ "Update" | translate }}
                    </button>
                    <!-- <button *ngIf="member.isEditing && selectedRow === i"  class="btn btn-success" (click)="updateMember(member.memberId)">{{'Update'|translate}}</button> -->
                  </div>
                </span>
              </li>
              <li class="nav-item mr-2 mr-md-0">
                <span class="d-none d-md-block" class="form-group">
                  <!-- <div style="text-align: end;">Record Count:</div> -->
                  <button class="btn btn-success">
                    Record Count:
                    {{totalElement}}
                  </button>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{ "Action" | translate }}</th>
                <th scope="col">{{ "User Id" | translate }}</th>
                <th scope="col">{{ "User Name" | translate }}</th>
                <th scope="col">{{ "Email Id" | translate }}</th>
                <th scope="col">{{ "Role" | translate }}</th>
                <th scope="col">{{ "Mobile number" | translate }}</th>
                <th scope="col">{{ "Status" | translate }}</th>
                <th scope="col">{{ "Area" | translate }}</th>

                <!-- <th scope="col">{{'Status'|translate}} </th>    -->
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let location of defaultMembers; trackBy: trackLocationByIndex"> -->
              <tr
                *ngFor="
                  let user of defaultUsers
                    | userFilter : searchText : '' : ''
                    | userFilter : '' : searchText1
                    | userFilter : '' : '' : searchText2;
                  let i = index
                "
              >
                <td>
                  <input
                    type="radio"
                    name="operation"
                    (click)="toggleButtons('edit', user)"
                    value="edit"
                    (change)="selectedRow = i"
                  />
                  <!-- <input type="radio" name="operation" (click)="toggleButtons('delete', location)" value="delete"> Delete -->
                </td>
                <td>{{ user.userId }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.emailId }}</td>
                <td>{{ user.roles[0].roleName }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.status }}</td>
                <td>
                  <tr *ngFor="let area of user.selectedAreas">
                    {{
                      area.areaName
                    }}
                  </tr>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <small
        ><mat-paginator
          class="justify-content-md-end"
          [length]=totalElement
          [pageIndex]="currentPage"
          [pageSizeOptions]="[10]"
          (page)="onPageChange($event)"
        ></mat-paginator
      ></small>
    </div>
  </div>
</div>
