<div class="container-fluid mt--7 pb-8 pt-5 pt-md-8">
<div class="py-7 py-lg-8">
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
<!-- Table -->
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8">
    <div class="card bg-secondary shadow border-0">
      <div class="card-body px-lg-5 py-lg-5">
        
        <form role="form" [formGroup]="locationform" (ngSubmit)="onSubmit()">
          <h2 class="text-center">{{ 'Add new location record!' | translate }}</h2><br>
          <!-- location -->
          <div class="form-group">
            <label for="locationname">{{ 'Location' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <input
                  formControlName="locationname"
                  type="text"
                  class="form-control"
                 id="address"
                name="address"
                [(ngModel)]="location.locationName"
                [ngClass]="{
                 'is-invalid': (submitted && locationFormControl.locationname.errors?.required)
                }"
                maxlength="15" 
                  />
                  <div class="invalid-feedback">
                    {{ 'Address  is required.' | translate }}
                  </div>
            </div>
           </div>

           <!-- Address 1 -->

           <div class="form-group">
            <label for="add1">{{ 'Address-1 ' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <input
                  formControlName="add1"
                  type="text"
                  class="form-control"
                 id="add1"
                name="add1"
                [(ngModel)]="location.add1"
                [ngClass]="{
                 'is-invalid': (submitted && locationFormControl.add1.errors?.required)
                }"
                maxlength="25" 
                  />
                  <div class="invalid-feedback">
                    {{ 'Address 1 is required.' | translate }}
                  </div>
            </div>
           </div>

           <!-- Address 2 -->

           <div class="form-group">
            <label for="add2">{{ 'Address-2' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <input
                  formControlName="add2"
                  type="text"
                  class="form-control"
                 id="add2"
                name="add2"
                [(ngModel)]="location.add2"
                [ngClass]="{
                 'is-invalid': (submitted && locationFormControl.add2.errors?.required)
                }"
                maxlength="25" 
                  />
                  <div class="invalid-feedback">
                    {{ 'Address 2 is required.' | translate }}
                  </div>
            </div>
           </div>

                <!-- Add3 -->

                <div class="form-group">
                  <label for="add3">{{ 'Address-3 ' | translate }}</label>
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend"></div>
                    <input
                        formControlName="add3"
                        type="text"
                        class="form-control"
                       id="add3"
                      name="add3"
                      [(ngModel)]="location.add3"
                      [ngClass]="{
                       'is-invalid': (submitted && locationFormControl.add3.errors?.required)
                      }"
                      maxlength="20" 
                        />
                        <div class="invalid-feedback">
                          {{ 'Address 3 is required.' | translate }}
                        </div>
                  </div>
                 </div>
                     <!-- Address 4 -->
      
                     <div class="form-group">
                      <label for="add4">{{ 'Address-4 ' | translate }}</label>
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend"></div>
                        <input
                            formControlName="add4"
                            type="text"
                            class="form-control"
                           id="add4"
                          name="add4"
                          [(ngModel)]="location.add4"
                          [ngClass]="{
                           'is-invalid': (submitted && locationFormControl.add4.errors?.required)
                          }"
                          maxlength="20" 
                            />
                            <div class="invalid-feedback">
                              {{ 'Address 4 is required.' | translate }}
                            </div>
                      </div>
                     </div>

           <!-- city -->
          
           <div class="form-group">
            <label>{{ 'City' | translate }}</label><br>
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend"></div>
              <select
                formControlName="city"
                class="form-control"
                id="city"
                name="city"
                [(ngModel)]="location.city"
                required
                [ngClass]="{
                  'is-invalid': (submitted && locationFormControl.city.errors?.required)
                }"
              >
                <option value="" disabled>Select City</option>
                <option value="Pune">Pune</option>
                <option value="Mumbai">Mumbai</option>
                <option value="kolhapur">Kolhapur</option>
                <option value="Nagpur">Nagpur</option>
              </select>
              <div class="invalid-feedback">
                {{ 'City is required.' | translate }}
              </div>
            </div>

            <!-- division -->
            <div class="form-group">
              <label>{{ 'Division' | translate }}</label><br>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <select
                  formControlName="division"
                  class="form-control"
                  id="division"
                  name="division"
                  [(ngModel)]="location.division" 
                  required
                  [ngClass]="{
                    'is-invalid': (submitted && locationFormControl.division.errors?.required)
                  }"
                >
                  <option value="" disabled>Select Division</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="D">D</option>
                  <option value="E">E</option>
                </select>
                <div class="invalid-feedback">
                  {{ 'Division is required.' | translate }}
                </div>
              </div>
            </div>
           </div>
<!-- state -->
           <div class="form-group">
            <label>{{ 'State' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <select
                formControlName="state"
                class="form-control"
                id="state"
                name="state"
                [(ngModel)]="location.state"
                required
                [ngClass]="{
                  'is-invalid': (submitted && locationFormControl.state.errors?.required)
                }"
              >
         
                <option value="" disabled>{{ 'Select state' | translate }}</option>
                <option value="Andhra Pradesh">{{ 'Andhra Pradesh' | translate }}</option>
                <option value="Arunachal Pradesh">{{ 'Arunachal Pradesh' | translate }}</option>
                <option value="Assam">{{ 'Assam' | translate }}</option>
                <option value="Bihar">{{ 'Bihar' | translate }}</option>
                <option value="Chhattisgarh">{{ 'Chhattisgarh' | translate }}</option>
                <option value="Goa">{{ 'Goa' | translate }}</option>
                <option value="Gujarat">{{ 'Gujarat' | translate }}</option>
                <option value="Haryana">{{ 'Haryana' | translate }}</option>
                <option value="Himachal Pradesh">{{ 'Himachal Pradesh' | translate }}</option>
                <option value="Jharkhand">{{ 'Jharkhand' | translate }}</option>
                <option value="Karnataka">{{ 'Karnataka' | translate }}</option>
                <option value="Kerala">{{ 'Kerala' | translate }}</option>
                <option value="Madhya Pradesh">{{ 'Madhya Pradesh' | translate }}</option>
                <option value="Maharashtra">{{ 'Maharashtra' | translate }}</option>
                <option value="Manipur">{{ 'Manipur' | translate }}</option>
                <option value="Meghalaya">{{ 'Meghalaya' | translate }}</option>
                <option value="Mizoram">{{ 'Mizoram' | translate }}</option>
                <option value="Nagaland">{{ 'Nagaland' | translate }}</option>
                <option value="Odisha">{{ 'Odisha' | translate }}</option>
                <option value="Punjab">{{ 'Punjab' | translate }}</option>
                <option value="Rajasthan">{{ 'Rajasthan' | translate }}</option>
                <option value="Sikkim">{{ 'Sikkim' | translate }}</option>
                <option value="Tamil Nadu">{{ 'Tamil Nadu' | translate }}</option>
                <option value="Telangana">{{ 'Telangana' | translate }}</option>
                <option value="Tripura">{{ 'Tripura' | translate }}</option>
                <option value="Uttar Pradesh">{{ 'Uttar Pradesh' | translate }}</option>
                <option value="Uttarakhand">{{ 'Uttarakhand' | translate }}</option>
                <option value="West Bengal">{{ 'West Bengal' | translate }}</option>
                     
              </select>
              <div class="invalid-feedback">
                {{ 'State is required.' | translate }}
              </div>
            </div>
           </div>

    <!-- country -->
           <div class="form-group">
            <label>{{ 'Country' | translate }}</label><br>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <select
                formControlName="country"
                class="form-control"
                id="country"
                name="country"
                [(ngModel)]="location.country"
                required
                [ngClass]="{
                  'is-invalid': (submitted && locationFormControl.country.errors?.required)
                }"
              >
                <option value="" disabled>Select Country</option>
                <option value="IN">IN</option>
              </select>
              <div class="invalid-feedback">
                {{ 'Country is required.' | translate }}
              </div>
            </div>
           </div>

           <!-- pincode -->
           <div class="form-group">
            <label for="Pincode">{{ 'Pincode' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="pincode"
                    type="text"
                    class="form-control"
                    id="pincode"
                    name="pincode"
                    [(ngModel)]="location.pincode"
                    [ngClass]="{
                        'is-invalid': (submitted && (locationFormControl.pincode.errors?.required || locationFormControl.pincode.errors?.minlength))
                    }"
                    (input)="validatePincode($event)"
                    minlength="6"
                />
                <div class="invalid-feedback">
                  <div *ngIf="locationFormControl.pincode.errors?.required">{{ 'Pincode is required.' | translate }}</div>
                  <div *ngIf="locationFormControl.pincode.errors?.minlength">{{ 'Pincode must be at least 6 characters long.' | translate }}</div>
                </div>
            </div>
        </div>
          

           <!-- Phone number -->
           <div class="form-group">
            <label for="phoneNumber">{{ 'Phone number' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <input
                  formControlName="phoneNumber"
                  type="text"
                  class="form-control"
                 id="phoneNumber"
                name="phoneNumber"
                [(ngModel)]="location.phoneNumber"
                [ngClass]="{
                  'is-invalid': (submitted && (locationFormControl.phoneNumber.errors?.required || locationFormControl.phoneNumber.errors?.minlength))

                }"
                (input)="validatePhoneNumber($event)"
                minlength="10"
                  />
                  <div class="invalid-feedback">
                    <div *ngIf="locationFormControl.phoneNumber.errors?.required">{{ 'Phone number is required.' | translate }}</div>
                    <div *ngIf="locationFormControl.phoneNumber.errors?.minlength">{{ 'Phone number must be at least 10 characters long.' | translate }}</div>
                  </div>
                  
            </div>
           </div>


           <!-- latitude -->
          <div class="form-group">
            <label for="latitude">{{ 'Latitude' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <input
                  formControlName="latitude"
                  type="text"
                  class="form-control"
                 id="latitude"
                name="latitude"
                [(ngModel)]="location.latitude"
                [ngClass]="{
                 'is-invalid': (submitted && locationFormControl.latitude.errors?.required)
                }"
               
                  />
                  <div class="invalid-feedback">
                    {{ 'Latitude is required.' | translate }}
                  </div>
            </div>
           </div>

           <!-- longitude -->
          <div class="form-group">
            <label for="longitude">{{ 'Longitude' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <input
                  formControlName="longitude"
                  type="text"
                  class="form-control"
                 id="longitude"
                name="longitude"
                [(ngModel)]="location.longitude"
                [ngClass]="{
                 'is-invalid': (submitted && locationFormControl.longitude.errors?.required)
                }"
               
                  />
                  <div class="invalid-feedback">
                    {{ 'Longitude is required.' | translate }}
                  </div>
            </div>
           </div>
               <!-- Google map link -->

               <div class="form-group">
                <label for="googleMapLink">{{ 'googleMapLink' | translate }}</label>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend"></div>
                  <input
                      formControlName="googleMapLink"
                      type="text"
                      class="form-control"
                     id="googleMapLink"
                    name="googleMapLink"
                    [(ngModel)]="location.googleMapLink"
                    [ngClass]="{
                     'is-invalid': (submitted && locationFormControl.googleMapLink.errors?.required)
                    }"
                    maxlength="50" 
                      />
                      <div class="invalid-feedback">
                        {{ 'googleMapLink is required.' | translate }}
                      </div>
                </div>
               </div>

              
                   <!-- additional info -->

           <div class="form-group">
            <label for="additionalInfo">{{ 'additional Info' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <input
                  formControlName="additionalInfo"
                  type="text"
                  class="form-control"
                 id="additionalInfo"
                name="additionalInfo"
                [(ngModel)]="location.additionalInfo"
                [ngClass]="{
                 'is-invalid': (submitted && locationFormControl.additionalInfo.errors?.required)
                }"
                maxlength="20" 
                  />
                  <div class="invalid-feedback">
                    {{ 'additional Info is required.' | translate }}
                  </div>
            </div>
           </div>
               <!-- contact1 Email -->

               <div class="form-group">
                <label for="contact1Email">{{ 'Contact1 Email' | translate }}</label>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend"></div>
                  <input
                      formControlName="contact1Email"
                      type="email"
                      class="form-control"
                     id="contact1Email"
                    name="contact1Email"
                    [(ngModel)]="location.contact1Email"
                    [ngClass]="{
                     'is-invalid': (submitted && locationFormControl.contact1Email.errors?.required)
                    }"
                      />
                      <div class="invalid-feedback">
                        {{ 'contact1 Email is required.' | translate }}
                      </div>
                </div>
               </div>
                   <!-- contact1Initial-->

           <div class="form-group">
            <label for="contact1Initial">{{ 'Contact1 Initial' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <input
                  formControlName="contact1Initial"
                  type="text"
                  class="form-control"
                 id="contact1Initial"
                name="contact1Initial"
                [(ngModel)]="location.contact1Initial"
                [ngClass]="{
                 'is-invalid': (submitted && locationFormControl.contact1Initial.errors?.required)
                }"
                maxlength="25" 
                  />
                  <div class="invalid-feedback">
                    {{ 'contact1 Initial is required.' | translate }}
                  </div>
            </div>
           </div>
               <!-- contact1Name-->

               <div class="form-group">
                <label for="contact1Name">{{ 'Contact1 Name' | translate }}</label>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend"></div>
                  <input
                      formControlName="contact1Name"
                      type="text"
                      class="form-control"
                     id="contact1Name"
                    name="contact1Name"
                    [(ngModel)]="location.contact1Name"
                    [ngClass]="{
                     'is-invalid': (submitted && locationFormControl.contact1Name.errors?.required)
                    }"
                    maxlength="25" 
                      />
                      <div class="invalid-feedback">
                        {{ 'contact1 Name is required.' | translate }}
                      </div>
                </div>
               </div>
                   <!-- contact1Occupation -->

           <div class="form-group">
            <label for="contact1Occupation">{{ 'Contact1 Occupation' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <input
                  formControlName="contact1Occupation"
                  type="text"
                  class="form-control"
                 id="contact1Occupation"
                name="contact1Occupation"
                [(ngModel)]="location.contact1Occupation"
                [ngClass]="{
                 'is-invalid': (submitted && locationFormControl.contact1Occupation.errors?.required)
                }"
                maxlength="25" 
                  />
                  <div class="invalid-feedback">
                    {{ 'contact1 Occupation is required.' | translate }}
                  </div>
            </div>
           </div>

           
           <!-- contact1Phone1 -->
           
           <div class="form-group">
            <label for="contact1Phone1">{{ 'Contact1 Phone1' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <input
                  formControlName="contact1Phone1"
                  type="text"
                  class="form-control"
                 id="contact1Phone1"
                name="contact1Phone1"
                [(ngModel)]="location.contact1Phone1"
                [ngClass]="{
                  'is-invalid': (submitted && (locationFormControl.contact1Phone1.errors?.required || locationFormControl.contact1Phone1.errors?.minlength))

                }"
                (input)="validatePhoneNumber($event)"
                minlength="10"
                  />
                  <div class="invalid-feedback">
                    <div *ngIf="locationFormControl.contact1Phone1.errors?.required">{{ 'contact1 Phone1 is required.' | translate }}</div>
                    <div *ngIf="locationFormControl.contact1Phone1.errors?.minlength">{{ 'contact1 Phone1 must be at least 10 characters long.' | translate }}</div>
                  </div>
                  
            </div>
           </div>
            <!-- contact1Phone2 -->
           
            <div class="form-group">
              <label for="contact1Phone2">{{ 'Contact1 Phone2' | translate }}</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="contact1Phone2"
                    type="text"
                    class="form-control"
                   id="contact1Phone2"
                  name="contact1Phone2"
                  [(ngModel)]="location.contact1Phone2"
                  [ngClass]="{
                    'is-invalid': (submitted && (locationFormControl.contact1Phone2.errors?.required || locationFormControl.contact1Phone2.errors?.minlength))
  
                  }"
                  (input)="validatePhoneNumber($event)"
                  minlength="10"
                    />
                    <div class="invalid-feedback">
                      <div *ngIf="locationFormControl.contact1Phone2.errors?.required">{{ 'contact1 Phone2 is required.' | translate }}</div>
                      <div *ngIf="locationFormControl.contact1Phone2.errors?.minlength">{{ 'contact1 Phone2 must be at least 10 characters long.' | translate }}</div>
                    </div>
                    
              </div>
             </div>
              <!-- contact2 Email-->

              <div class="form-group">
                <label for="contact2Email">{{ 'Contact2 Email' | translate }}</label>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend"></div>
                  <input
                      formControlName="contact2Email"
                      type="email"
                      class="form-control"
                     id="contact2Email"
                    name="contact2Email"
                    [(ngModel)]="location.contact2Email"
                    [ngClass]="{
                     'is-invalid': (submitted && locationFormControl.contact2Email.errors?.required)
                    }"
                      />
                      <div class="invalid-feedback">
                        {{ 'contact2 Email is required.' | translate }}
                      </div>
                </div>
               </div>
                   <!-- contact2 Initial-->

           <div class="form-group">
            <label for="contact2Initial">{{ 'Contact2 Initial' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <input
                  formControlName="contact2Initial"
                  type="text"
                  class="form-control"
                 id="contact2Initial"
                name="contact2Initial"
                [(ngModel)]="location.contact2Initial"
                [ngClass]="{
                 'is-invalid': (submitted && locationFormControl.contact2Initial.errors?.required)
                }"
                maxlength="25" 
                  />
                  <div class="invalid-feedback">
                    {{ 'contact2 Initial is required.' | translate }}
                  </div>
            </div>
           </div>
               <!-- contact2 Name-->

               <div class="form-group">
                <label for="contact2Name">{{ 'Contact2 Name' | translate }}</label>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend"></div>
                  <input
                      formControlName="contact2Name"
                      type="text"
                      class="form-control"
                     id="contact2Name"
                    name="contact2Name"
                    [(ngModel)]="location.contact2Name"
                    [ngClass]="{
                     'is-invalid': (submitted && locationFormControl.contact2Name.errors?.required)
                    }"
                    maxlength="25" 
                      />
                      <div class="invalid-feedback">
                        {{ 'contact2 Name is required.' | translate }}
                      </div>
                </div>
               </div>
                   <!-- contact2 Occupation -->

           <div class="form-group">
            <label for="contact2Occupation">{{ 'Contact2 Occupation' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <input
                  formControlName="contact2Occupation"
                  type="text"
                  class="form-control"
                 id="contact2Occupation"
                name="contact2Occupation"
                [(ngModel)]="location.contact2Occupation"
                [ngClass]="{
                 'is-invalid': (submitted && locationFormControl.contact2Occupation.errors?.required)
                }"
                maxlength="25" 
                  />
                  <div class="invalid-feedback">
                    {{ 'contact2 Occupation is required.' | translate }}
                  </div>
            </div>
           </div>

           
           <!-- contact2 Phone1 -->
           
           <div class="form-group">
            <label for="contact2Phone1">{{ 'Contact2 Phone1' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <input
                  formControlName="contact2Phone1"
                  type="text"
                  class="form-control"
                 id="contact2Phone1"
                name="contact2Phone1"
                [(ngModel)]="location.contact2Phone1"
                [ngClass]="{
                  'is-invalid': (submitted && (locationFormControl.contact2Phone1.errors?.required || locationFormControl.contact2Phone1.errors?.minlength))

                }"
                (input)="validatePhoneNumber($event)"
                minlength="10"
                  />
                  <div class="invalid-feedback">
                    <div *ngIf="locationFormControl.contact2Phone1.errors?.required">{{ 'contact2 Phone1 is required.' | translate }}</div>
                    <div *ngIf="locationFormControl.contact2Phone1.errors?.minlength">{{ 'contact2 Phone1 must be at least 10 characters long.' | translate }}</div>
                  </div>
                  
            </div>
           </div>
            <!-- contact2 Phone2 -->
           
            <div class="form-group">
              <label for="contact2Phone2">{{ 'Contact2 Phone2' | translate }}</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="contact2Phone2"
                    type="text"
                    class="form-control"
                   id="contact2Phone2"
                  name="contact2Phone2"
                  [(ngModel)]="location.contact2Phone2"
                  [ngClass]="{
                    'is-invalid': (submitted && (locationFormControl.contact2Phone2.errors?.required || locationFormControl.contact2Phone2.errors?.minlength))
  
                  }"
                  (input)="validatePhoneNumber($event)"
                  minlength="10"
                    />
                    <div class="invalid-feedback">
                      <div *ngIf="locationFormControl.contact2Phone2.errors?.required">{{ 'contact2 Phone2 is required.' | translate }}</div>
                      <div *ngIf="locationFormControl.contact2Phone2.errors?.minlength">{{ 'contact2 Phone2 must be at least 10 characters long.' | translate }}</div>
                    </div>
                    
              </div>
             </div>
<!-- status -->
           <div class="form-group">
            <label>{{ 'Status' | translate }}</label><br>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <select
                formControlName="status"
                class="form-control"
                id="status"
                name="status"
                [(ngModel)]="location.status"
                required
                [ngClass]="{
                  'is-invalid': (submitted && locationFormControl.status.errors?.required)
                }"
              >
                <option value="" disabled>Select Status</option>
                <option value="1">{{'Active'|translate}}</option>
                <option value="0">{{'Inactive'|translate}}</option>
              </select>
              <div class="invalid-feedback">
                {{ 'Status is required.' | translate }}
              </div>
            </div>
           </div>


<!-- Button -->
           <div ><br>
            <button type="submit" class="btn btn-success mx-2" >{{'Save'|translate}}</button>
            <button type="button" class="btn btn-primary mx-2" (click)="Clear()">{{'Clear'|translate}} </button>
            <button type="button" class="btn btn-danger mx-2" (click)="CancelChanges()">{{'Back'|translate}} </button>
           </div>
          </form>
      </div>
    </div>
  </div>
</div>
</div>
