<div class=" bg-gradient-danger py-7 py-lg-8 custom-header-height" style="margin-bottom: -300px;">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7 pb-8 pt-50 pt-md-8">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <ul
            class="nav nav-pills flex-column flex-md-row justify-content-md-end"
          >
            <li class="nav-item ml-auto">
              <span class="d-none d-md-block form-group">
                <h2>{{ "Available Scheduled!" | translate }}</h2>
              </span>
            </li>
            <li class="nav-item ml-auto">
              <!-- <span class="d-none d-md-block form-group align-items-right">
                <label>{{ "Choose Language" | translate }}</label>
                <select
                  name=""
                  class="form-control ml-auto"
                  #selectedLang
                  (change)="switchLang(selectedLang.value)"
                >
                  <option
                    *ngFor="let language of translate.getLangs()"
                    [value]="language"
                    [selected]="language === translate.currentLang"
                  >
                    {{ language }}
                  </option>
                </select>
              </span> -->
            </li>

            <!-- For screens less than 600px -->
            <li class="nav-item d-md-none">
              <!-- Hide this for medium and larger scren -->
              <span class="form-group">
                <h3>{{ "Scheduled Record!" | translate }}</h3>
              </span>
            </li>
          </ul>
          <!-- search -->
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>    
            </div>
            <input class="form-control col-md-4" placeholder="{{ 'Search baithak type' | translate }}" [(ngModel)]="searchText" type="text" (focus)="focus = true"
            (blur)="focus = false">
            <input class="form-control col-md-4" placeholder="{{ 'Search date' | translate }}" [(ngModel)]="searchText1" type="text" (focus)="focus = true"
            (blur)="focus = false">
            <input class="form-control col-md-4" placeholder="{{ 'Search location name' | translate }}" [(ngModel)]="searchText2" type="text" (focus)="focus = true"
            (blur)="focus = false">
            </div>

          <!-- add new button -->
          <div class="form-group">
            <br />
            <ul class="nav nav-pills justify-content">
              <li class="nav-item mr-2 mr-md-0">
                
              </li>
              <br />
              <li class="nav-item mr-2 mr-md-0">
                <span class="d-none d-md-block" class="form-group">
                  <li class="nav-item mr-2 mr-md-0">
                    <select
                      class="btn btn-success"
                      (change)="onOpen($event.target.value)"
                    >
                      <option disabled selected>Schedule New Baithak!</option>
                      <option
                        style="background-color: gray"
                        *ngFor="let baithak of baithakList; let i = index"
                        [value]="baithak.bithakId"
                      >
                        {{ baithak.baithakType }}--{{ baithak.fromTime }}--{{
                          baithak.toTime
                        }}-{{ baithak.dayOfWeek }}
                      </option>
                    </select>
                  </li>
                </span>
              </li>
            
              <!-- update button -->
              <li class="nav-item mr-2 mr-md-0">
                <span class="d-none d-md-block" class="form-group">
                  <div *ngFor="let schedule of defaultSchedules; let i = index">
                    <button
                      *ngIf="selectedRow === i"
                      class="btn btn-success"
                      (click)="updateSchedules(schedule.baithak.bithakId)"
                    >
                      {{ "Update" | translate }}
                    </button>
                  </div>
                </span>
              </li>
            </ul>
          </div>
        </div>
          <div class="table-responsive " >
            <table  class="table align-items-center table-flush ">
              <thead class="thead-light">
              <tr >
                <th  style="width: 75px;" scope="col">{{ "Action" | translate }}</th>
                <th style="width: 65px;" scope="col">{{ "Schedule Id" | translate }}</th>
                <th style="width: 10%;" scope="col">{{ "Baithak Type" | translate }}</th>
                <th style="width: 10%;" scope="col">{{ "Date" | translate }}</th>
                <th style="width: 10%;"scope="col">{{ "Start Time" | translate }}</th>
                <th style="width: 10%;" scope="col">{{ "End Time" | translate }}</th>
                <th style="width: 10%;" scope="col">{{ "dayOfWeek" | translate }}</th>
                <th style="width: 10%;" scope="col">{{ "Reader" | translate }}</th>
                <th style="width: 10%;" scope="col">{{ "Attendence" | translate }}</th>
                <th style="width: 10%;" scope="col">{{ "Locations" | translate }}</th>                
              </tr>
            </thead>
                <tbody>
              <!-- <tr *ngFor="let location of defaultLocations; trackBy: trackLocationByIndex"> -->
              <tr 
                *ngFor="
                  let schedule of pagedSchedules | filter : searchText | filter : searchText1 | filter : searchText2; 
                  let i = index
                ">
                <td >
                  <input 
                  style="width: 65px;"
                    type="radio"
                    name="operation"
                    (click)="toggleButtons('edit', schedule)"
                    value="edit"
                    (change)="selectedRow = i"
                  />
                  <!-- <input type="radio" name="operation" (click)="toggleButtons('delete', location)" value="delete"> Delete -->
                </td>
                <td style="width: 65px;">{{ schedule.scheduleId }}</td>
                <td style="width: 12%;">{{ schedule?.baithak?.baithakType }}</td>
                <td style="width: 10%;">{{ schedule?.date }}</td>
                <td style="width: 11%;">{{ schedule?.baithak?.fromTime }}</td>
                <td style="width: 11%;">{{ schedule?.baithak?.toTime }}</td>
               
                <td style="width: 10%;">{{ schedule?.baithak?.dayOfWeek }}</td>
                <!-- <td>
                  <table>
                    <tr> -->
                      <td style="width: 11%;">
                        {{ schedule.members[0]?.firstName}} {{ schedule.members[0]?.lastName }}
                      </td>
                    <!-- </tr>
                    <tr> -->
                      <td style="width: 10%;">
                        {{ schedule.members[1]?.firstName }} {{ schedule.members[1]?.lastName }}
                      </td>
                    <!-- </tr>
                  </table>
                </td> -->
                <td style="width: 8%;">{{ schedule.location.city }}</td>               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <small><mat-paginator class="justify-content-md-end"
        [length]="defaultSchedules.length"
        [pageIndex]="currentPage"
        [pageSizeOptions]="[10]"
        (page)="onPageChange($event)"
      ></mat-paginator></small>
    </div>
  </div>
</div>