<div class="container-fluid mt--7 pb-8 pt-50 pt-md-8">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <ul
            class="nav nav-pills flex-column flex-md-row justify-content-center"
          >
            <li class="nav-item">
              <span class="d-none d-md-block form-group">
                <h2>{{ "Schedule child baithak" | translate }}</h2>
              </span>
            </li>
          </ul>

          <div>
            <div>{{ displayMonth }} {{ displayYear }}</div>

            <div>
              <button
                type="button"
                class="btn btn-info"
                (click)="setCurrentMonth()"
                value="today"
              >
                Current month
              </button>

              <button
                type="button"
                class="btn btn-info"
                (click)="decreaseMonth()"
                value="-"
              >
                <i class="fas fa-chevron-left"></i>
              </button>

              <button
                type="button"
                class="btn btn-info"
                (click)="increaseMonth()"
              >
                <i class="fas fa-chevron-right"></i>
              </button>

              <button
                type="button"
                class="btn btn-info"
                (click)="goBack()"
                value="back"
              >
                Go To List Of Schedules
              </button>
            </div>
          </div>

          <br />

          <form [formGroup]="schedularForm" (ngSubmit)="onSubmit()">
            <div class="table-responsive scrollit">
              <table class="calendar-table" *ngIf="calendar" border="2px solid">
                <thead>
                  <tr>
                    <th>Sr.no</th>

                    <th>Locations</th>

                    <th *ngFor="let meeting of meetings">
                      Sunday
                      <div>
                        {{ meeting.date | date }}
                      </div>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let location of defaultLocations; let i = index">
                    <!-- Display defaultLocations vertically -->

                    <!-- <td>

                    <div *ngFor="let location of defaultLocations | filter:searchText;">

                      {{ location.locationName }}

                    </div>

                  </td> -->

                    <!-- Display meeting data horizontally -->

                    <!-- [formGroup]="SchduleForm" (ngSubmit)="onSubmit()" -->

                    <td>{{ i + 1 }}</td>

                    <td class="text-uppercase" style="text-align: center">
                      {{ location.locationName }}
                    </td>

                    <td
                      class="calendar-day"
                      [ngClass]="{
                        'past-date': c.isPastDate,

                        today: c.isToday
                      }"
                      *ngFor="let c of meetings; let j = index"
                    >
                      <app-dynamicform
                        (valueChanged)="saveChanges($event)"
                        [baithakId]="baithakId"
                        [locationId]="location.locationId"
                        [hajeriMembers]="hajeriMembers"
                        [vachanMembers]="vachanMembers"
                        [date]="c.date | date : 'mediumDate'"
                      >
                      </app-dynamicform>
                    </td>
                  </tr>

                  <div
                    class="d-flex flex flex flex-row justify-content-around ml-auto fixed-button"
                  >
                    <button type="submit" class="btn btn-primary">
                      SUBMIT
                    </button>

                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="updateSchedule(baithakId)"
                    >
                      UPDATE
                    </button>
                    <button
                      type="button"
                      class="btn btn-info"
                      (click)="resetScheduleForm()"
                    >
                      RESET
                    </button>
                  </div>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
