<div class="container-fluid mt--7 pb-8 pt-50 pt-md-8">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            
            <ul class="nav nav-pills flex-column flex-md-row justify-content-md-end">
              <li class="nav-item ml-auto">
                <span class="d-none d-md-block form-group">
                  <h2>{{ 'Available Member!' | translate }}</h2>
                </span>
              </li>
              <li class="nav-item ml-auto">
                <!-- <span class="d-none d-md-block form-group align-items-right">
                  <label>{{ 'Choose Language' | translate }}</label>
                  <select name="" class="form-control ml-auto" #selectedLang (change)="switchLang(selectedLang.value)">
                    <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
                      {{ language }}
                    </option>
                  </select>
                </span> -->
              </li>          
             
              <!-- For screens less than 600px -->
              <li class="nav-item d-md-none"> <!-- Hide this for medium and larger scren -->
                <span class="form-group">
                  <h3>{{ 'Available Member!' | translate }}</h3>
                </span>
              </li>
            </ul>            
                 <!-- search -->
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>    
                </div>
                <input class="form-control" placeholder="{{ 'Search' | translate }}" [(ngModel)]="searchText" type="text" (focus)="focus = true"
                (blur)="focus = false">
              </div >

              <!-- add new button -->
              <div class="form-group"><br>
              <ul class="nav nav-pills justify-content">

                <li class="nav-item mr-2 mr-md-0">
                  <select class="btn btn-success" (change)="statusLocation($event.target.value)">
                    <option  disabled >Select Member</option>
                    <option value="all" >All</option>
                    <option value="1" selected >Active</option>
                    <option value="0">InActive</option>
                  </select>
                </li>
                <li class="nav-item mr-2 mr-md-0">
                    <span class="d-none d-md-block" class="form-group">
                      <button class="btn btn-success" (click)="onOpen()" > {{'Add New'|translate}}</button>
                    </span>
                </li>

                <!-- update button -->
                <li class="nav-item mr-2 mr-md-0">
                    <span class="d-none d-md-block" class="form-group">
                      <div  *ngFor="let member of defaultMembers; let i = index">
                        <button *ngIf="member.isEditing && selectedRow === i"  class="btn btn-success" (click)="updateMember(member.memberId)">{{'Update'|translate}}</button>
                      </div>
                    </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="table-responsive " >
            <table  class="table align-items-center table-flush ">
              <thead class="thead-light">
                <tr>
                  <th scope="col">{{'Action'|translate}} </th>
                  <th scope="col">{{'Member Id'|translate}} </th>                
                  <th scope="col">{{'First Name'|translate}}</th>
                  <th scope="col">{{'Middle Name'|translate}}</th>
                  <th scope="col">{{'Last Name'|translate}} </th>
                  <th scope="col">{{'Eligiblity'|translate}} </th>
                  <th scope="col">{{'Gender'|translate}} </th>
                  <th scope="col">{{'Mobile number'|translate}} </th>                 
                  <th scope="col">{{'Pincode'|translate}} </th>
                  <!-- <th scope="col">{{'Status'|translate}} </th>    -->
                  
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let location of defaultMembers; trackBy: trackLocationByIndex"> -->
                  <tr *ngFor="let member of defaultMembers |filter:searchText; let i = index ">
  
                  <td>
                    <input type="radio" name="operation" (click)="toggleButtons('edit', member)" value="edit"  (change)="selectedRow = i">
                    <!-- <input type="radio" name="operation" (click)="toggleButtons('delete', location)" value="delete"> Delete -->
                  </td>
                  <td>{{ member.memberId }}</td>                  
                  <td>{{ member.firstName }}</td>
                  <td>{{ member.middleName }}</td>
                  <td>{{ member.lastName }}</td>
                  <!-- <td>
                    <ng-container *ngIf="member.eligibleForGents">
                      Gent
                    </ng-container>
                  </td> -->
                  
                 
                  <td>{{ member.eligibleForChild ? 'Child ' : '' }} {{ member.eligibleForGents ? 'Gents ' : '' }} {{ member.eligibleForLadies ? 'Ladies ' : ''}}</td>
                  <td>{{ member.gender }}</td>
                  <td>{{ member.mobile }}</td>                 
                  <td>{{ member.pincode }}</td> 
                          
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   </div> 
  