<div class="container-fluid mt--7 pb-8 pt-5 pt-md-8">
  <div class="py-7 py-lg-8"></div>
  <!-- Page content -->
  <div class="container mt--8 pb-5 ">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="custom-width">
        <div class="card shadow border-0 w-500" style="margin-top: -78px;">
          <div class="card-body px-lg-5 py-lg-5 text-color">
                      
          <form [formGroup]="registerform" (ngSubmit)="proceedregistration()">
            <h2 class="text-center">Register New User</h2><br>

            <!-- Name -->            
              <div class="col-md-12">
            <div class="form-group">
              <label for="name">Full name<span class="text-danger">*</span></label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                  formControlName="name"
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  [ngClass]="{
                    'is-invalid': submitted && registerFormControl.name.errors?.required
                  }"
                  maxlength="30"
                />
                <div class="invalid-feedback">
                  This field is mandatory.
                </div>
              </div>
              </div>
              </div>

               <!-- role -->            
               <div class="col-md-12">
                <div class="form-group">
                  <label for="role">Role<span class="text-danger">*</span></label>
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend"></div>
                    <select
                      formControlName="role"
                      type="text"
                      class="form-control"
                      id="role"
                      name="role"
                      [ngClass]="{
                        'is-invalid': submitted && registerFormControl.role.errors?.required
                      }"
                      maxlength="30"
                    >
                      <option value="Select role" disabled>Select role</option>
                      <option value="user">User</option>
                      <option value="Admin">Admin</option>                  
                  </select>
                    <div class="invalid-feedback">
                      This field is mandatory.
                    </div>
                  </div>
                  </div>
                  </div>

               <!-- Mobile Number -->            
               <div class="col-md-12">
                <div class="form-group">
                  <label for="phoneNumber">Mobile Number<span class="text-danger">*</span></label>
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend"></div>
                    <input
                      formControlName="phoneNumber"
                      type="text"
                      class="form-control"
                      id="phoneNumber"
                      name="phoneNumber"
                      [ngClass]="{
                        'is-invalid': (submitted && (registerFormControl.phoneNumber.errors?.required || registerFormControl.phoneNumber.errors?.minlength))
                      }"
                      (input)="validatePhoneNumber($event)"
                      maxlength="10"
                    />
                    <div class="invalid-feedback">
                      <div *ngIf="registerFormControl.phoneNumber.errors?.required">This field is mandatory.</div>
                      <div *ngIf="registerFormControl.phoneNumber.errors?.minlength">Mobile number should be 10 digits.</div>
                    </div>
                  </div>
                  </div>
                  </div>

                  <!-- photoUrl -->            
              <div class="col-md-12">
                <div class="form-group">
                  <label for="photoUrl">Photo Url</label>
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend"></div>
                    <input
                      formControlName="photoUrl"
                      type="text"
                      class="form-control"
                      id="photoUrl"
                      name="photoUrl"                      
                      maxlength="50"
                    />
                    <div class="invalid-feedback">
                   
                    </div>
                  </div>
                  </div>
                  </div>

                   <!-- emailId -->            
              <div class="col-md-12">
                <div class="form-group">
                  <label for="emailId">Email<span class="text-danger">*</span></label>
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend"></div>
                    <input
                      formControlName="emailId"
                      type="text"
                      class="form-control"
                      id="emailId"
                      name="emailId"
                      [ngClass]="{
                        'is-invalid': submitted && registerFormControl.emailId.errors?.required
                      }"
                      maxlength="30"
                    />
                    <div class="invalid-feedback">
                      This field is mandatory.
                    </div>
                  </div>
                  </div>
                  </div>

                   <!-- password -->            
              <div class="col-md-12">
                <div class="form-group">
                  <label for="password">Password<span class="text-danger">*</span></label>
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend"></div>
                    <input
                      formControlName="password"
                      type="password"
                      class="form-control"
                      id="password"
                      name="password"
                      [ngClass]="{
                        'is-invalid': (submitted && (registerFormControl.password.errors?.required || registerFormControl.password.errors?.pattern))
                      }"
                    />
                    <div class="invalid-feedback">
                      This field is mandatory and Password should be capital,small letter & number.
                    </div>
                  </div>
                  </div>
                  </div>

                   <!-- confirmPassword -->            
              <div class="col-md-12">
                <div class="form-group">
                  <label for="confirmPassword">Confirm Password<span class="text-danger">*</span></label>
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend"></div>
                    <input
                      formControlName="confirmPassword"
                      type="text"
                      class="form-control"
                      id="confirmPassword"
                      name="confirmPassword"
                      [ngClass]="{
                        'is-invalid': submitted && registerFormControl.confirmPassword.errors?.required
                      }"
                      maxlength="30"
                    />
                    <div class="invalid-feedback">
                      This field is mandatory.
                    </div>
                  </div>
                  </div>
                  </div>

             <div class="text-center">
              <button type="submit" class="btn btn-success mt-4">Create account</button><br><br>
              
              <span>
                <small>Already have an account? Sign out this session and </small>
                <a href="/login">sign in </a>
                <!-- <a class="nav-link nav-link-icon" routerLinkActive="active" class="text-blue" [routerLink]="['/dashboard']">dashboard</a> -->
              </span>              
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
