<form [formGroup]="memberChildForm">
  <div class="d-flex flex-column align-items-center" (click)="loadMemberList()">

      <div>
          <p-dropdown
          [options]="memberList"
          placeholder="Select Member"
          name="member"
          id="member"
          formControlName="member"
          optionValue="memberId"
          optionLabel="firstName"  
          (onChange)="onSelectMember($event.value)"            
        >
        </p-dropdown>
      </div>
    </div>
</form>