/* .select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
         border: 1px solid #ccc !important; 
     border-radius: 0px !important; 
}
.selectedSchedule
{
  background: darkseagreen;
}
.placeholder {
  font-style: italic;
  color: #999; /* Placeholder text color */
/* }  */
.invalid-feedback {
  color: #f44336; /* Red error text color */
}

.custom-width {
  width: 350px; /* Set the desired width */
}
