<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
        </div>
      </div>
    </div>
      
    </div> 
    <!-- Page content -->
   <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card shadow border-0" style="height: 380px;">
            
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center mb-4">
                <!-- <small>sign in with credentials</small> -->
              </div>
              <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                
                <h2 class="text-center">Change password!</h2><br>

                <!-- password -->            
                <div class="col-md-12">
                  <div class="form-group">
                    <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend"></div>
                      <input
                        formControlName="password"
                        type="password"
                        class="form-control"
                        placeholder="New Password"
                        id="password"
                        name="password"                        
                        [ngClass]="{
                          'is-invalid': (submitted && (changePassword.password.errors?.required || changePassword.password.errors?.pattern))
                        }"
                      />
                      <div class="invalid-feedback">
                        This field is mandatory and Password should be capital,small letter & number.
                      </div>
                    </div>
                    </div>
                    </div>

                    <!-- confirmPassword -->

                    <div class="col-md-12">
                        <div class="form-group">
                          <!-- <label for="email">Email<span class="text-danger">*</span></label> -->
                          <div class="input-group input-group-alternative mb-3">
                            <div class="input-group-prepend"></div>
                            <input
                              formControlName="confirmPassword"
                              type="text"
                              class="form-control"
                              placeholder="Confirm Password"
                              id="confirmPassword"
                              name="confirmPassword"
                              [ngClass]="{
                                'is-invalid': submitted && changePassword.confirmPassword.errors?.required 
                              }"
                            />
                            <div class="invalid-feedback">
                              
                            </div>
                          </div>
                          </div>
                          </div>


                    <div class="text-center">                   
                      <button type="submit" class="btn btn-success mt-4">Save change</button>                            
                    </div>
  
              <!-- <button type="submit" class="btn-primary" style="margin-left: 120px;" [disabled]="forgotPasswordForm.invalid">Submit</button> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    