<div class="container-fluid mt--7 pb-8 pt-5 pt-md-8">
  <div class="py-7 py-lg-8"></div>
  <!-- Page content -->
  <div class="container mt--8 pb-5 ">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="custom-width">
        <div class="card bg-secondary shadow border-0 w-500">
          <div class="card-body px-lg-5 py-lg-5 text-color">
           
            <form [formGroup]="locationform" (ngSubmit)="onSubmit()">
              <h2 class="text-center">{{ 'Update location record!' | translate }}</h2><br>

               <!-- Header -->
             <div>
              <h2 class="form-section-header text-center">Location information</h2>
            </div>            

              <!-- Location Name -->
              <div class="row">
                <div class="col-md-12">
              <div class="form-group">
                <label for="locationName">{{ 'Location' | translate }}</label>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend"></div>
                  <input
                    formControlName="locationName"
                    type="text"
                    class="form-control"
                    id="locationName"
                    name="locationName"
                    [(ngModel)]="location.locationName"
                    [ngClass]="{
                      'is-invalid': submitted && locationFormControl.locationName.errors?.required
                    }"
                    maxlength="30"
                  />
                  <div class="invalid-feedback">
                    Location name is required.
                  </div>
                </div>
                </div>
                </div>

              </div>

              <!-- add 1 -->
              <div class="row">
              <div class="col-md-3">
              <div class="form-group">
                <label for="add1">{{ 'Address Line 1' | translate }}</label>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend"></div>
                  <input
                    formControlName="add1"
                    type="text"
                    class="form-control"
                    id="add1"
                    name="add1"
                    [(ngModel)]="location.add1"
                    [ngClass]="{
                      'is-invalid': submitted && locationFormControl.add1.errors?.required
                    }"
                    maxlength="30"
                  />
                  <div class="invalid-feedback">
                    Address-1 is required.
                  </div>
                </div>
                </div>
              </div>

              <!-- add2  -->              
              <div class="col-md-3">
              <div class="form-group">
                <label for="add2">{{ 'Address Line 2' | translate }}</label>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend"></div>
                  <input
                    formControlName="add2"
                    type="text"
                    class="form-control"
                    id="add2"
                    name="add2"
                    [(ngModel)]="location.add2"
                    [ngClass]="{
                      'is-invalid': submitted && locationFormControl.add2.errors?.required
                    }"
                    maxlength="30"
                  />
                  <div class="invalid-feedback">
                    Address-2  is required.
                  </div>
                  </div>
                </div>
                </div>
             
              
               <!-- Add3 -->
              
               <div class="col-md-3">
               <div class="form-group">
                <label for="add3">{{ 'Address Line 3' | translate }}</label>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend"></div>
                  <input
                      formControlName="add3"
                      type="text"
                      class="form-control"
                     id="add3"
                    name="add3"
                    [(ngModel)]="location.add3"
                    [ngClass]="{
                     'is-invalid': (submitted && locationFormControl.add3.errors?.required)
                    }"
                    maxlength="20" 
                      />
                      <div class="invalid-feedback">
                        {{ 'Address 3 is required.' | translate }}
                      </div>
                </div>
                </div>                
               </div>

                   <!-- Address 4 -->
                   <div class="col-md-3">
                   <div class="form-group">
                    <label for="add4">{{ 'Address Line 4' | translate }}</label>
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend"></div>
                      <input
                          formControlName="add4"
                          type="text"
                          class="form-control"
                         id="add4"
                        name="add4"
                        [(ngModel)]="location.add4"
                        
                        maxlength="20" 
                          />
                        </div>
                      </div>
                      </div>
                    </div>
                   

              <!-- City -->   
              <div class="row">           
              <div class="col-md-3">
              <div class="form-group">
                <label for="city">{{ 'City' | translate }}</label><br>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend"></div>
                  <select
                    formControlName="city"
                    class="form-control"
                    id="city"
                    name="city"
                    [(ngModel)]="location.city"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && locationFormControl.city.errors?.required
                    }"
                  >
                    <option value="" disabled>Select City</option>
                    <option value="Pune">Pune</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Kolhapur">Kolhapur</option>
                    <option value="Nagpur">Nagpur</option>
                  </select>
                  <div class="invalid-feedback">
                    City is required.
                  </div>
                </div>
                </div>
              </div>

              <!-- Division -->
              <div class="col-md-3">
              <div class="form-group">
                <label>{{ 'Division' | translate }}</label><br>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend"></div>
                  <select
                    formControlName="division"
                    class="form-control"
                    id="division"
                    name="division"
                    [(ngModel)]="location.division"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && locationFormControl.division.errors?.required
                    }"
                  >
                    <option value="" disabled>Select Division</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                  </select>
                  <div class="invalid-feedback">
                    Division is required.
                  </div>
                 </div>
                </div>
              </div>

              <!-- State -->              
              <div class="col-md-3">
              <div class="form-group">
                <label>{{ 'State' | translate }}</label>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend"></div>
                  <select
                    formControlName="state"
                    class="form-control"
                    id="state"
                    name="state"
                    [(ngModel)]="location.state"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && locationFormControl.state.errors?.required
                    }"
                  >
                    <option value="" disabled>{{ 'Select state' | translate }}</option>
                    <option value="Andhra Pradesh">{{ 'Andhra Pradesh' | translate }}</option>
                    <option value="Arunachal Pradesh">{{ 'Arunachal Pradesh' | translate }}</option>
                    <option value="Assam">{{ 'Assam' | translate }}</option>
                    <option value="Bihar">{{ 'Bihar' | translate }}</option>
                    <option value="Chhattisgarh">{{ 'Chhattisgarh' | translate }}</option>
                    <option value="Goa">{{ 'Goa' | translate }}</option>
                    <option value="Gujarat">{{ 'Gujarat' | translate }}</option>
                    <option value="Haryana">{{ 'Haryana' | translate }}</option>
                    <option value="Himachal Pradesh">{{ 'Himachal Pradesh' | translate }}</option>
                    <option value="Jharkhand">{{ 'Jharkhand' | translate }}</option>
                    <option value="Karnataka">{{ 'Karnataka' | translate }}</option>
                    <option value="Kerala">{{ 'Kerala' | translate }}</option>
                    <option value="Madhya Pradesh">{{ 'Madhya Pradesh' | translate }}</option>
                    <option value="Maharashtra">{{ 'Maharashtra' | translate }}</option>
                    <option value="Manipur">{{ 'Manipur' | translate }}</option>
                    <option value="Meghalaya">{{ 'Meghalaya' | translate }}</option>
                    <option value="Mizoram">{{ 'Mizoram' | translate }}</option>
                    <option value="Nagaland">{{ 'Nagaland' | translate }}</option>
                    <option value="Odisha">{{ 'Odisha' | translate }}</option>
                    <option value="Punjab">{{ 'Punjab' | translate }}</option>
                    <option value="Rajasthan">{{ 'Rajasthan' | translate }}</option>
                    <option value="Sikkim">{{ 'Sikkim' | translate }}</option>
                    <option value="Tamil Nadu">{{ 'Tamil Nadu' | translate }}</option>
                    <option value="Telangana">{{ 'Telangana' | translate }}</option>
                    <option value="Tripura">{{ 'Tripura' | translate }}</option>
                    <option value="Uttar Pradesh">{{ 'Uttar Pradesh' | translate }}</option>
                    <option value="Uttarakhand">{{ 'Uttarakhand' | translate }}</option>
                    <option value="West Bengal">{{ 'West Bengal' | translate }}</option>
                                
                  </select>
                  <div class="invalid-feedback">
                    State is required.
                  </div>
                </div>
                </div>
              </div>

              <!-- Country -->
              <div class="col-md-3">
              <div class="form-group">
                <label>{{ 'Country' | translate }}</label><br>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend"></div>
                  <select
                    formControlName="country"
                    class="form-control"
                    id="country"
                    name="country"
                    [(ngModel)]="location.country"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && locationFormControl.country.errors?.required
                    }"
                  >
                    <option value="" disabled>Select Country</option>
                    <option value="IN">IN</option>
                  </select>
                  <div class="invalid-feedback">
                    Country is required.
                  </div>
                </div>
              </div>
              </div>
              </div>

              <!-- Pincode -->
              <div class="row">
              <div class="col" style="width: 20%;">
              <div class="form-group">
                <label for="pincode">{{ 'Pincode' | translate }}</label>
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend"></div>
                  <input
                    formControlName="pincode"
                    type="text"
                    class="form-control"
                    id="pincode"
                    name="pincode"
                    [(ngModel)]="location.pincode"
                    [ngClass]="{
                      'is-invalid': (submitted && (locationFormControl.pincode.errors?.required || locationFormControl.pincode.errors?.minlength))
                    }"
                    (input)="validatePincode($event)"
                  />
                  <div class="invalid-feedback">
                    <div *ngIf="locationFormControl.pincode.errors?.required">{{ 'Pincode is required.' | translate }}</div>
                    <div *ngIf="locationFormControl.pincode.errors?.minlength">{{ 'Pincode must be at least 6 characters long.' | translate }}</div>
                  </div>
                </div>
                </div>
              </div>

              <!-- latitude -->
          <div class="col" style="width: 20%;">
          <div class="form-group">
            <label for="latitude">{{ 'Latitude' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <input
                  formControlName="latitude"
                  type="text"
                  class="form-control"
                 id="latitude"
                name="latitude"
                [(ngModel)]="location.latitude"
                [ngClass]="{
                 'is-invalid': (submitted && locationFormControl.latitude.errors?.required)
                }"
               
                  />
                  <div class="invalid-feedback">
                    {{ 'Latitude  is required.' | translate }}
                  </div>
            </div>
            </div>
           </div>

           <!-- longitude -->
          <div class="col" style="width: 20%;">
          <div class="form-group">
            <label for="longitude">{{ 'Longitude' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <input
                  formControlName="longitude"
                  type="text"
                  class="form-control"
                 id="longitude"
                name="longitude"
                [(ngModel)]="location.longitude"
                [ngClass]="{
                 'is-invalid': (submitted && locationFormControl.longitude.errors?.required)
                }"
               
                  />
                  <div class="invalid-feedback">
                    {{ 'Longitude  is required.' | translate }}
                  </div>
            </div>
            </div>
           </div>

            <!-- Google map link -->
            <div class="col" style="width: 20%;">
            <div class="form-group">
              <label for="googleMapLink">{{ 'Google Map Link' | translate }}</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="googleMapLink"
                    type="text"
                    class="form-control"
                   id="googleMapLink"
                  name="googleMapLink"
                  [(ngModel)]="location.googleMapLink"
                  [ngClass]="{
                   'is-invalid': (submitted && locationFormControl.googleMapLink.errors?.required)
                  }"
                  maxlength="50" 
                    />
                    <div class="invalid-feedback">
                      {{ 'googleMapLink is required.' | translate }}
                    </div>
              </div>
             </div>
             </div>
             
               <!-- Status -->
               <div class="col" style="width: 20%;">
                <div class="form-group">
                 <label>{{ 'Status' | translate }}</label><br>
                 <div class="input-group input-group-alternative mb-3">
                   <div class="input-group-prepend"></div>
                   <select
                     formControlName="status"
                     class="form-control"
                     id="status"
                     name="status"
                     [(ngModel)]="location.status"
                     required
                     [ngClass]="{
                       'is-invalid': submitted && locationFormControl.status.errors?.required
                     }"
                   >
                     <option value="" disabled>Select Status</option>
                     <option value="1">{{ 'Active' | translate }}</option>
                     <option value="0">{{ 'Inactive' | translate }}</option>
                   </select>
                   <div class="invalid-feedback">
                     Status is required.
                   </div>
                 </div>
               </div>
               </div> 
            </div>


               <!-- Header -->
             <div>
              <h2 class="form-section-header text-center">Contact-1</h2>
            </div>

                <!-- initial -->
         <div class="row">
          <div class="col-md-2">
        <div class="form-group">
         <label for="contact1Initial">{{ 'Initial' | translate }}</label><br>
         <div class="input-group input-group-alternative mb-3">
           <div class="input-group-prepend"></div>
           <select
             formControlName="contact1Initial"
             class="form-control"
             type="text"
             id="contact1Initial"
             name="contact1Initial"
             [(ngModel)]="location.contact1Initial" 
             required
             [ngClass]="{
               'is-invalid': (submitted && locationFormControl.contact1Initial.errors?.required)
             }"
           >
             <option value="" disabled>Select initial</option>
             <option value="Mr.">Mr.</option>
             <option value="Ms.">Ms.</option>
           </select>
           <div class="invalid-feedback">
             {{ 'Initial is required.' | translate }}
           </div>
         </div>
       </div>
        </div>
             <!-- contact1Name-->
             <div class="col-md-5">
             <div class="form-group">
              <label for="contact1Name">{{ 'Name' | translate }}</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="contact1Name"
                    type="text"
                    class="form-control"
                   id="contact1Name"
                  name="contact1Name"
                  [(ngModel)]="location.contact1Name"
                  [ngClass]="{
                   'is-invalid': (submitted && locationFormControl.contact1Name.errors?.required)
                  }"
                  maxlength="25" 
                    />
                    <div class="invalid-feedback">
                      {{ 'contact1 Name is required.' | translate }}
                    </div>
              </div>
             </div>
             </div>
                 <!-- contact1Occupation -->
                 <div class="col-md-5">
         <div class="form-group">
          <label for="contact1Occupation">{{ 'Occupation' | translate }}</label>
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend"></div>
            <input
                formControlName="contact1Occupation"
                type="text"
                class="form-control"
               id="contact1Occupation"
              name="contact1Occupation"
              [(ngModel)]="location.contact1Occupation"
              [ngClass]="{
               'is-invalid': (submitted && locationFormControl.contact1Occupation.errors?.required)
              }"
              maxlength="25" 
                />
                <div class="invalid-feedback">
                  {{ 'contact1 Occupation is required.' | translate }}
                </div>
                </div>
                </div>
          </div>
         </div>


               <!-- contact1Phone1 -->
         <div class="row">
          <div class="col-md-4">
         <div class="form-group">
          <label for="contact1Phone1">{{ 'Mobile Number' | translate }}</label>
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend"></div>
            <input
                formControlName="contact1Phone1"
                type="text"
                class="form-control"
               id="contact1Phone1"
              name="contact1Phone1"
              [(ngModel)]="location.contact1Phone1"
              [ngClass]="{
                'is-invalid': (submitted && (locationFormControl.contact1Phone1.errors?.required || locationFormControl.contact1Phone1.errors?.minlength))

              }"
              (input)="ValidatephoneNumber($event)"
              minlength="10"
                />
                <div class="invalid-feedback">
                  <div *ngIf="locationFormControl.contact1Phone1.errors?.required">{{ 'contact1 Phone1 is required.' | translate }}</div>
                  <div *ngIf="locationFormControl.contact1Phone1.errors?.minlength">{{ 'contact1 Phone1 must be at least 10 characters long.' | translate }}</div>
                </div>
                </div>
          </div>
         </div>
          <!-- contact1Phone2 -->
          <div class="col-md-4">
          <div class="form-group">
            <label for="contact1Phone2">{{ 'Phone Number' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <input
                  formControlName="contact1Phone2"
                  type="text"
                  class="form-control"
                 id="contact1Phone2"
                name="contact1Phone2"
                [(ngModel)]="location.contact1Phone2"
                
                minlength="10"
                  />
                  
                  </div>
            </div>
           </div>

            <!-- contact1 Email -->
            <div class="col-md-4">
             <div class="form-group">
              <label for="contact1Email">{{ 'Email' | translate }}</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="contact1Email"
                    type="email"
                    class="form-control"
                   id="contact1Email"
                  name="contact1Email"
                  [(ngModel)]="location.contact1Email"
                  [ngClass]="{
                   'is-invalid': (submitted && locationFormControl.contact1Email.errors?.required)
                  }"
                    />
                    <div class="invalid-feedback">
                      {{ 'contact1 Email is required.' | translate }}
                    </div>
                    </div>
                    </div>
              </div>
             </div>


                <!-- Header -->
                <div>
                  <h2 class="form-section-header text-center">Contact-2</h2>
                </div>

                 <!-- contact2 Initial-->
         <!-- initial -->
         <div class="row">
          <div class="col-md-2">
        <div class="form-group">
         <label for="contact2Initial">{{ 'Initial' | translate }}</label><br>
         <div class="input-group input-group-alternative mb-3">
           <div class="input-group-prepend"></div>
           <select
             formControlName="contact2Initial"
             class="form-control"
             type="text"
             id="contact2Initial"
             name="contact2Initial"
             [(ngModel)]="location.contact2Initial" 
             required
             [ngClass]="{
               'is-invalid': (submitted && locationFormControl.contact2Initial.errors?.required)
             }"
           >
             <option value="" disabled>Select initial</option>
             <option value="Mr.">Mr.</option>
             <option value="Ms.">Ms.</option>
           </select>
           <div class="invalid-feedback">
             {{ 'Initial is required.' | translate }}
           </div>
         </div>
       </div>
        </div>

             <!-- contact2 Name-->
             <div class="col-md-10">
             <div class="form-group">
              <label for="contact2Name">{{ 'Name' | translate }}</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="contact2Name"
                    type="text"
                    class="form-control"
                   id="contact2Name"
                  name="contact2Name"
                  [(ngModel)]="location.contact2Name"
                  [ngClass]="{
                   'is-invalid': (submitted && locationFormControl.contact2Name.errors?.required)
                  }"
                  maxlength="25" 
                    />
                    <div class="invalid-feedback">
                      {{ 'contact2 Name is required.' | translate }}
                    </div>
                    </div>
                    </div>
              </div>
             </div>

              <!-- contact2 Phone1 -->
         <div class="row">
          <div class="col-md-4">
         <div class="form-group">
          <label for="contact2Phone1">{{ 'Mobile Number' | translate }}</label>
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend"></div>
            <input
                formControlName="contact2Phone1"
                type="text"
                class="form-control"
               id="contact2Phone1"
              name="contact2Phone1"
              [(ngModel)]="location.contact2Phone1"
              [ngClass]="{
                'is-invalid': (submitted && (locationFormControl.contact2Phone1.errors?.required || locationFormControl.contact2Phone1.errors?.minlength))

              }"
              (input)="ValidatephoneNumber($event)"
              minlength="10"
                />
                <div class="invalid-feedback">
                  <div *ngIf="locationFormControl.contact2Phone1.errors?.required">{{ 'contact2 Phone1 is required.' | translate }}</div>
                  <div *ngIf="locationFormControl.contact2Phone1.errors?.minlength">{{ 'contact2 Phone1 must be at least 10 characters long.' | translate }}</div>
                </div>
                </div>
          </div>
         </div>
          <!-- contact2 Phone2 -->
          <div class="col-md-4">
          <div class="form-group">
            <label for="contact2Phone2">{{ 'Phone Number' | translate }}</label>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend"></div>
              <input
                  formControlName="contact2Phone2"
                  type="text"
                  class="form-control"
                 id="contact2Phone2"
                name="contact2Phone2"
                [(ngModel)]="location.contact2Phone2"
                
                minlength="10"
                  />
                  
                  </div>
            </div>
           </div>
            <!-- contact2 Email-->
            <div class="col-md-4">
            <div class="form-group">
              <label for="contact2Email">{{ 'Email' | translate }}</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend"></div>
                <input
                    formControlName="contact2Email"
                    type="email"
                    class="form-control"
                   id="contact2Email"
                  name="contact2Email"
                  [(ngModel)]="location.contact2Email"
                  [ngClass]="{
                   'is-invalid': (submitted && locationFormControl.contact2Email.errors?.required)
                  }"
                    />
                    <div class="invalid-feedback">
                      {{ 'contact2 Email is required.' | translate }}
                    </div>
                    </div>
                    </div>
              </div>
             </div>
   
               <!-- Header -->
               <div>
                <h2 class="form-section-header text-center">Additional information</h2>
              </div>
                 <!-- additional info -->

              <div class="row">
                <div class="col-md-12">
         <div class="form-group">
          <label for="additionalInfo">{{ 'Additional Information' | translate }}</label>
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend"></div>
            <input
                formControlName="additionalInfo"
                type="text"
                class="form-control"
               id="additionalInfo"
              name="additionalInfo"
              [(ngModel)]="location.additionalInfo"
              
              maxlength="50" 
                />
                </div>
                </div>
          </div>
         </div>

         <!-- Header -->
         <div>
          <h2 class="form-section-header text-center"></h2>
        </div>
             
              <!-- Button -->
              <div class="text-center"><br />
                <button type="submit" class="btn btn-success btn-lg mx-2">{{ 'Save' | translate }}</button>
                <button type="button" class="btn btn-primary btn-lg mx-2" (click)="Clear()">{{ 'Clear' | translate }}</button>
                <button type="button" class="btn btn-danger btn-lg mx-2" (click)="CancelChanges()">{{ 'Back' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>
</div>
