.custom-header-height {
    height: 400px; /* Adjust the height as needed */
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    overflow: hidden; /* To hide overflow content if needed */
    margin-top: 70px; /* Adjust the margin-top value as needed */
}
.custom-header-height1{
    height: 100px;
}
/* styles.css */
