<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8 custom-header-height">
  <div class="container">
    <div class="header-body custom-header-height1">
      <!-- Card stats -->
      <div class="row ">
        <div class="col-xl-4 col-lg-6" >
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body " style="height: 150px;">
              <div class="row">
                <div class="col">
      
                  <!-- this for export to pdf -->
                  <!-- <div class="container">
                    <div id="pdfTable" #pdfTable>
                     
                    </div>
                    <button class="btn btn-primary" (click)="downloadAsPDF()">Generate Report</button>
                  </div> -->
                  <!-- <div> -->
                    <!-- ... other content ... -->
                    <!-- <button (click)="generatePDF()">Generate PDF</button>
                  </div> -->
                  <!-- end -->           

                 
                  <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/location-list']">
                  <!-- <i class="ni ni-key-25"></i>  -->
                  <span class="nav-link-inner--text" style="font-size: x-large; color: black;">Active Location</span>
                  </a>
                  <span class="h2 font-weight-bold mb-0">{{locCount}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">                    
                   <i class="fas fa-map-marker-alt"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
            </div>
          </div>
        </div>
        
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body"  style="height: 150px;">
              <div class="row">
                <div class="col">
                  <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/member-list']">
                    <!-- <i class="ni ni-key-25"></i>  -->
                    <span class="nav-link-inner--text" style="font-size: x-large; color: black;">Active Member</span>
                    </a>
                  <span class="h2 font-weight-bold mb-0">{{memberCount}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p> -->
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body"  style="height: 150px;">
              <div class="row">
                <div class="col">
                  <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/schedular']">
                    <!-- <i class="ni ni-key-25"></i>  -->
                    <span class="nav-link-inner--text" style="font-size: x-large; color: black;">Scheduled Baithak</span>
                    </a>
                  <span class="h2 font-weight-bold mb-0">{{scheduleCount}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-calendar-check"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p> -->
            </div>
          </div>
        </div>
      </div>        
    </div>
  </div>
</div>
<!-- <div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
              <h2 class="text-white mb-0">Sales value</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          Chart
          <div class="chart">
            Chart wrapper 
            <canvas #chartSalesCanvas class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div> -->

<div class="container-fluid mt--7"  style="margin-bottom: 100px;">
  <div class="row">
    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card bg-color shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-dark ls-1 mb-1">Last Created Locations</h6>
            </div>
          </div>
        </div>
        <div class="table-responsive card shadow">
          <table  class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr class="text-uppercase text-dark">
              <th>Location Name</th>
              <th>Division</th>
              <th>City</th>
              <th>State</th>
              <th>Pincode</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-dark" *ngFor="let location of locdata.slice(-5)">
              <td>{{ location.locationName }}</td>
              <td>{{ location.division?.divisionName  }}</td>
              <td>{{ location.city?.cityName }}</td>
              <td>{{ location.state?.stateName }}</td>
              <td>{{ location.pincode }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>    
  </div>
  <div class="col-xl-6 mb-5 mb-xl-0">
    <div class="card bg-color shadow">
      <div class="card-header bg-transparent">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-dark ls-1 mb-1">Last Created Members</h6>
          </div>
        </div>
      </div>
      <div class="table-responsive card shadow">
        <table  class="table align-items-center table-flush">
          <thead class="thead-light">
          <tr class="text-uppercase text-dark">
            <th>Member Name</th>
            <th>area</th>            
            <th>city</th>
            <th>mobile number</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-dark" *ngFor="let member of defaultMembers.slice(-5)">
            <td>{{ member.initial+' ' }}{{ member.firstName+ " "}}{{ member.lastName}}</td>
            <td>{{ member.area?.areaName }}</td>            
            <td>{{ member.city?.cityName }}</td>
            <td>{{ member.mobile }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>    
</div>
</div><br>
<div class="row">
  <div class="col-xl-8 mb-5 mb-xl-0">
    <div class="card bg-color shadow">
      <div class="card-header bg-transparent">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-dark ls-1 mb-1">Last Created Baithak</h6>
          </div>
        </div>
      </div>
      <div class="table-responsive card shadow">
        <table  class="table align-items-center table-flush">
          <thead class="thead-light">
          <tr class="text-uppercase text-dark">
            <th>Location of baithak</th>
            <th>Reader Member</th>
            <th>Attendence Member</th>            
            <th>Baithak Time</th>
            <th>Baithak Date</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-dark" *ngFor="let baithak of defaultSchedular.slice(0,5)">
            <td>{{ baithak.location.locationName }}</td>
            <td>{{ baithak.members[0].initial+' ' }} {{ baithak.members[0].firstName+' ' }} {{ baithak.members[0].lastName }}</td>
            <td>{{ baithak.members[1].initial+' ' }} {{ baithak.members[1].firstName+' ' }} {{ baithak.members[1].lastName }}</td>
            <td>{{ baithak.baithak?.fromTime +' To ' }} {{ baithak.baithak?.toTime }}</td>
            <td>{{ baithak.date }}</td>
            <!-- <td>{{ location.pincode }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>    
</div>
</div>
</div>
