<div class="container-fluid mt--7 pb-8 pt-5 pt-md-8">
  <div class="py-7 py-lg-8"></div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="custom-width">
          <div class="card shadow border-0 w-500">
            <div class="card-body px-lg-5 py-lg-5 text-color">
              <form [formGroup]="areaForm" (ngSubmit)="onSubmit()">


                <div *ngIf="!id">
                  <h2 class="header text-center">
                    Create Area Record
                  </h2>
                </div>
                <div *ngIf="id">
                  <h2 class="header text-center">
                    Update Area Record
                  </h2>
                </div>
                <div>
                  <h2 class="form-section-header text-center">
                    Area information
                  </h2>
                </div>

                <!-- Area Name -->
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="locationName"
                        >Area Name<span class="text-danger">*</span></label
                      >
                      <div class="input-group input-group-alternative mb-3">
                        <input
                          formControlName="areaName"
                          type="text"
                          class="form-control"
                          id="areaName"
                          name="areaName"
                          [(ngModel)]="area.areaName"
                          [ngClass]="{
                            'is-invalid':
                              submitted &&
                              areaFormCotrols.areaName.errors?.required
                          }"
                          maxlength="30"
                        />
                        <div class="invalid-feedback">
                          This field is mandatory.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label
                        >{{ "Status" | translate
                        }}<span class="text-danger">*</span></label
                      ><br />
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend"></div>
                        <select
                          formControlName="status"
                          class="form-control"
                          id="status"
                          name="status"
                          [(ngModel)]="area.status"
                          required
                          [ngClass]="{
                            'is-invalid':
                              submitted &&
                              areaFormCotrols.status.errors?.required
                          }"
                        >
                          <option value="" disabled>Select Status</option>
                          <option value="1">
                            {{ "Active" | translate }}
                          </option>
                          <option value="0">
                            {{ "Inactive" | translate }}
                          </option>
                        </select>
                        <div class="invalid-feedback">
                          This field is mandatory.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Header -->

                <!--contact1 initial -->
                <div class="row">
                  <div class="col-md-12">
                    <h2 class="form-section-header text-center">Contact</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="contact1Initial"
                        >{{ "Initial" | translate
                        }}<span class="text-danger">*</span></label
                      ><br />
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend"></div>
                        <select
                          formControlName="contactInitial"
                          class="form-control"
                          type="text"
                          id="contactInitial"
                          name="contactInitial"
                          [(ngModel)]="area.contactInitial"
                          required
                          [ngClass]="{
                            'is-invalid':
                              submitted &&
                              areaFormCotrols.contactInitial.errors?.required
                          }"
                        >
                          <option value="" disabled>Select initial</option>
                          <option value="Mr.">Mr.</option>
                          <option value="Mrs.">Mrs.</option>
                          <option value="Miss.">Miss.</option>
                        </select>
                        <div class="invalid-feedback">
                          {{ " This field is mandatory." | translate }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- contactName-->
                  <div class="col-md-5">
                    <div class="form-group">
                      <label for="contactName"
                        >{{ "Name" | translate
                        }}<span class="text-danger">*</span></label
                      >
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend"></div>
                        <input
                          formControlName="contactName"
                          type="text"
                          class="form-control"
                          id="contactName"
                          name="contactName"
                          [(ngModel)]="area.contactName"
                          [ngClass]="{
                            'is-invalid':
                              submitted &&
                              areaFormCotrols.contactName.errors?.required
                          }"
                          maxlength="25"
                        />
                        <div class="invalid-feedback">
                          {{ "This field is mandatory." | translate }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- contactOccupation -->
                  <div class="col-md-5">
                    <div class="form-group">
                      <label for="contactOccupation">{{
                        "Occupation" | translate
                      }}</label>
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend"></div>
                        <input
                          formControlName="contactOccupation"
                          type="text"
                          class="form-control"
                          id="contactOccupation"
                          name="contactOccupation"
                          [(ngModel)]="area.contactOccupation"
                          maxlength="25"
                        />
                      </div>
                      <div class="invalid-feedback">
                        This field is mandatory.
                      </div>
                    </div>
                  </div>
                </div>
              
                <!-- contactPhone1 -->
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="contactPhone1"
                        >{{ "Mobile Number" | translate
                        }}<span class="text-danger">*</span></label
                      >
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend"></div>
                        <input
                          formControlName="contactPhone1"
                          type="text"
                          class="form-control"
                          id="contactPhone1"
                          name="contactPhone1"
                          [(ngModel)]="area.contactPhone1"
                          [ngClass]="{
                            'is-invalid':
                              submitted &&
                              (areaFormCotrols.contactPhone1.errors?.required ||
                                areaFormCotrols.contactPhone1.errors?.minlength)
                          }"
                          (input)="validatePhoneNumber($event)"
                          minlength="10"
                        />
                        <div class="invalid-feedback">
                          <div
                            *ngIf="
                              areaFormCotrols.contactPhone1.errors?.required
                            "
                          >
                            {{ "This field is mandatory." | translate }}
                          </div>
                          <div
                            *ngIf="
                              areaFormCotrols.contactPhone1.errors?.minlength
                            "
                          >
                            {{
                              "Mobile number should be 10 digits." | translate
                            }}
                          </div>
                          <div class="invalid-feedback">
                            This field is mandatory.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- contactPhone2 -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="contactPhone2">{{
                        "Phone Number" | translate
                      }}</label>
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend"></div>
                        <input
                          formControlName="contactPhone2"
                          type="text"
                          class="form-control"
                          id="contactPhone2"
                          name="contactPhone2"
                          [(ngModel)]="area.contactPhone2"
                        />
                      </div>
                    </div>
                  </div>

                  <!-- contact1 Email -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="contactEmail"
                        >{{ "Email" | translate
                        }}<span class="text-danger">*</span></label
                      >
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend"></div>
                        <input
                          formControlName="contactEmail"
                          type="email"
                          class="form-control"
                          id="contactEmail"
                          name="contactEmail"
                          [(ngModel)]="area.contactEmail"
                          [ngClass]="{
                            'is-invalid':
                              submitted &&
                              areaFormCotrols.contactEmail.errors?.required
                          }"
                        />
                        <div class="invalid-feedback">
                          {{ "This field is mandatory." | translate }}
                        </div>
                      </div>
                    </div>
                  </div>
                
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <h2 class="form-section-header text-center">Other</h2>
                    </div>
                  </div>
                <!-- City -->
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="city"
                        >{{ "City" | translate
                        }}<span class="text-danger">*</span></label
                      ><br />
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend"></div>
                        <select
                          formControlName="city"
                          class="form-control"
                          id="city"
                          name="city"
                          [(ngModel)]="area.city"
                          required
                          [ngClass]="{
                            'is-invalid':
                              submitted && areaFormCotrols.city.errors?.required
                          }"
                        >
                          <option value="" disabled>Select City</option>
                          <option value="Pune">Pune</option>
                          <option value="Mumbai">Mumbai</option>
                          <option value="Kolhapur">Kolhapur</option>
                          <option value="Nagpur">Nagpur</option>
                        </select>
                        <div class="invalid-feedback">
                          This field is mandatory.
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Division -->
                  <div class="col-md-3">
                    <div class="form-group">
                      <label
                        >{{ "Division" | translate
                        }}<span class="text-danger">*</span></label
                      ><br />
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend"></div>
                        <select
                          formControlName="division"
                          class="form-control"
                          id="division"
                          name="division"
                          [(ngModel)]="area.division"
                          required
                          [ngClass]="{
                            'is-invalid':
                              submitted &&
                              areaFormCotrols.division.errors?.required
                          }"
                        >
                          <option value="" disabled>Select Division</option>
                          <option value="A">A</option>
                          <option value="B">B</option>
                          <option value="C">C</option>
                          <option value="D">D</option>
                          <option value="E">E</option>
                        </select>
                        <div class="invalid-feedback">
                          This field is mandatory.
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- State -->
                  <div class="col-md-3">
                    <div class="form-group">
                      <label
                        >{{ "State" | translate
                        }}<span class="text-danger">*</span></label
                      >
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend"></div>
                        <select
                          formControlName="state"
                          class="form-control"
                          id="state"
                          name="state"
                          [(ngModel)]="area.state"
                          required
                          [ngClass]="{
                            'is-invalid':
                              submitted &&
                              areaFormCotrols.state.errors?.required
                          }"
                        >
                          <option value="" disabled>
                            {{ "Select state" | translate }}
                          </option>
                          <option value="Andhra Pradesh">
                            {{ "Andhra Pradesh" | translate }}
                          </option>
                          <option value="Arunachal Pradesh">
                            {{ "Arunachal Pradesh" | translate }}
                          </option>
                          <option value="Assam">
                            {{ "Assam" | translate }}
                          </option>
                          <option value="Bihar">
                            {{ "Bihar" | translate }}
                          </option>
                          <option value="Chhattisgarh">
                            {{ "Chhattisgarh" | translate }}
                          </option>
                          <option value="Goa">{{ "Goa" | translate }}</option>
                          <option value="Gujarat">
                            {{ "Gujarat" | translate }}
                          </option>
                          <option value="Haryana">
                            {{ "Haryana" | translate }}
                          </option>
                          <option value="Himachal Pradesh">
                            {{ "Himachal Pradesh" | translate }}
                          </option>
                          <option value="Jharkhand">
                            {{ "Jharkhand" | translate }}
                          </option>
                          <option value="Karnataka">
                            {{ "Karnataka" | translate }}
                          </option>
                          <option value="Kerala">
                            {{ "Kerala" | translate }}
                          </option>
                          <option value="Madhya Pradesh">
                            {{ "Madhya Pradesh" | translate }}
                          </option>
                          <option value="Maharashtra">
                            {{ "Maharashtra" | translate }}
                          </option>
                          <option value="Manipur">
                            {{ "Manipur" | translate }}
                          </option>
                          <option value="Meghalaya">
                            {{ "Meghalaya" | translate }}
                          </option>
                          <option value="Mizoram">
                            {{ "Mizoram" | translate }}
                          </option>
                          <option value="Nagaland">
                            {{ "Nagaland" | translate }}
                          </option>
                          <option value="Odisha">
                            {{ "Odisha" | translate }}
                          </option>
                          <option value="Punjab">
                            {{ "Punjab" | translate }}
                          </option>
                          <option value="Rajasthan">
                            {{ "Rajasthan" | translate }}
                          </option>
                          <option value="Sikkim">
                            {{ "Sikkim" | translate }}
                          </option>
                          <option value="Tamil Nadu">
                            {{ "Tamil Nadu" | translate }}
                          </option>
                          <option value="Telangana">
                            {{ "Telangana" | translate }}
                          </option>
                          <option value="Tripura">
                            {{ "Tripura" | translate }}
                          </option>
                          <option value="Uttar Pradesh">
                            {{ "Uttar Pradesh" | translate }}
                          </option>
                          <option value="Uttarakhand">
                            {{ "Uttarakhand" | translate }}
                          </option>
                          <option value="West Bengal">
                            {{ "West Bengal" | translate }}
                          </option>
                        </select>
                        <div class="invalid-feedback">
                          This field is mandatory.
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Country -->
                  <div class="col-md-3">
                    <div class="form-group">
                      <label
                        >{{ "Country" | translate
                        }}<span class="text-danger">*</span></label
                      ><br />
                      <div class="input-group input-group-alternative mb-3">
                        <div class="input-group-prepend"></div>
                        <select
                          formControlName="country"
                          class="form-control"
                          id="country"
                          name="country"
                          [(ngModel)]="area.country"
                          required
                          [ngClass]="{
                            'is-invalid':
                              submitted &&
                              areaFormCotrols.country.errors?.required
                          }"
                        >
                          <option value="" disabled>Select Country</option>
                          <option value="IN">IN</option>
                        </select>
                        <div class="invalid-feedback">
                          This field is mandatory.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Button -->
                <div
                  class="text-center d-flex flex-row justify-content-center align-items-center mt-4"
                >
                  <button *ngIf="!id" type="submit" class="btn btn-success btn-lg mx-2">
                    Submit
                  </button>
                >
                  <button *ngIf="id" type="button" class="btn btn-success btn-lg mx-2"  (click)="updateArea()">
                    Update
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary btn-lg mx-2"
                    (click)="Clear()"
                  >
                    Clear
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger btn-lg mx-2"
                    (click)="CancelChanges()"
                  >
                    Back
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
